<li><a href="/login" class="blue-styled-button mini">Login with Twitch</a><span class="urlChannel">{{userData.urlChannel}}</span></li>
<!-- <li class="mobile-only"><a href="/login">Login with Twitch</a></li> -->