<div class="left-bar">
	<div class="main-nav">
		<h4><a href="#">Stats <i class="fa fa-plus"></i></a></h4>
		<ul>
			<li><a href="/"><i class="fa fa-file-text"></i>Overall Bot Stats</a></li>
			<li><a href="/top-chatters"><i class="fa fa-file-text"></i>Top Chatters</a></li>
		</ul>
	</div>
</div>