<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !bf4stats</h1>
		<p>Returns a players rank, kill/death ratio, and a link to more stats.</p>
		<!-- <h3>Parameters</h3>
		<p>Username: Full BattleLog name</p>
		<p>Platform: (If no platform is specified, it defaults to 'pc'.)</p>
		<ul>
			<li>pc</li>
			<li>xbox</li>
			<li>ps3</li>
			<li>xone</li>
			<li>ps4</li>
		</ul> -->
		<h3>Permissions</h3>
		<p>The default permission level for <code>!bf4stats</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!bf4stats username pc</p>
			<p><strong>DogeBot: </strong>@user -> username has played ~1199 hours, has a 2.6 k/d, and is rank 140! More stats here: https://bf4stats.com/pc/username</p>
			<p><small>Options for platform are: pc, xbox, ps3, xone, and ps4</small></p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>