<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !blacklist</h1>
		<p>Returns a link to the song blacklist for the channel, or modifies the channels blacklist.</p>
		<!-- <h3>Parameters</h3>
		<p>Song: Song to blacklist, can be URL, videoID, or "current"</p> -->
		<h3>Permissions</h3>
		<p>The default permission level for <code>!blacklist</code> is set to <code>everyone</code>. However, the permission level for the ability to add/remove to/from the blacklist is set to <code>mods and above</code>.</p>
		<h3>Examples</h3>
		<blockquote>
			<h4>!blacklist</h4>
			<p><strong>User: </strong>!blacklist</p>
			<p><strong>DogeBot: </strong>@user -> The song blacklist for this channel is available here: https://thedogebot.com/blacklist/channel</p>
		</blockquote>
		<blockquote>
			<h4>!blacklist add song</h4>
			<p><strong>Modded User: </strong>!blacklist add super troll song</p>
			<p><strong>DogeBot: </strong>@user -> The song TROLL SONG | TROLL CANCION | NO COPYRIGHT | has been added to the blacklist!</p>
		</blockquote>
		<blockquote>
			<h4>!blacklist add current</h4>
			<p><strong>Modded User: </strong>!blacklist add current</p>
			<p><strong>DogeBot: </strong>@user -> The song TROLL SONG | TROLL CANCION | NO COPYRIGHT | has been added to the blacklist!</p>
			<p><small>This adds the currently playing song to the blacklist and skips the song</small></p>
		</blockquote>
		<blockquote>
			<h4>!blacklist remove song</h4>
			<p><strong>Modded User: </strong>!blacklist remove 6rgpgIucY4o</p>
			<p><strong>DogeBot: </strong>@user -> The song TROLL SONG | TROLL CANCION | NO COPYRIGHT | has been removed to the blacklist!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>