<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !commands</h1>
		<p>Returns a link to the user added commands for the channel, or modifies the channels commands.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!commands</code> is set to <code>everyone</code>. However, the permission level for the ability to modify the command list is set to <code>mods and above</code>.</p>
		<h3>Examples</h3>
		<blockquote>
			<h4>!commands</h4>
			<p><strong>User: </strong>!commands</p>
			<p><strong>DogeBot: </strong>@user -> The commands for this channel are available here: https://thedogebot.com/commands/channel</p>
		</blockquote>
		<blockquote>
			<h4>!commands add !command text</h4>
			<p><strong>Modded User: </strong>!commands add !testcommand text</p>
			<p><strong>DogeBot: </strong>@user -> The command !testcommand has been added!</p>
			<p><small>You can use the shorthand <code>!addcom !command text</code></small></p>
		</blockquote>
		<blockquote>
			<h4>!commands addalias !newcommand !commandtoalias</h4>
			<p><strong>Modded User: </strong>!commands addalias !testalias !testcommand</p>
			<p><strong>DogeBot: </strong>@user -> The alias command !testalias has been added!</p>
			<p><small>You can use the shorthand <code>!addalias !newcommand !commandtoalias</code></small></p>
		</blockquote>
		<blockquote>
			<h4>!commands edit !command text</h4>
			<p><strong>Modded User: </strong>!commands edit !testcommand This is the edited command!</p>
			<p><strong>DogeBot: </strong>@user -> The command !testcommand has been updated!</p>
			<p><small>You can use the shorthand <code>!editcom !command text</code></small></p>
		</blockquote>
		<blockquote>
			<h4>!commands permissions !command permissionLevel</h4>
			<p><strong>Modded User: </strong>!commands permissions !testcommand mods</p>
			<p><strong>DogeBot: </strong>@user -> The command !testcommand permissions have been updated!</p>
			<p>Permission Levels:</p>
			<ul class="indent">
				<li>everyone</li>
				<li>regulars</li>
				<li>subscribers</li>
				<li>dj</li>
				<li>mods</li>
				<li>supermods</li>
				<li>owner</li>
			</ul>
			<p><small>You can use permissions, permission, or perms</small></p>
		</blockquote>
		<blockquote>
			<h4>!commands setcost !command cost</h4>
			<p><strong>Modded User: </strong>!commands setcost !testcommand 10</p>
			<p><strong>DogeBot: </strong>@user -> The command !testcommand cost has been updated to 10!</p>
			<p><small>You can use setcost, cost, or points</small></p>
		</blockquote>
		<blockquote>
			<h4>!commands delete !command</h4>
			<p><strong>Modded User: </strong>!commands delete !testcommand</p>
			<p><strong>DogeBot: </strong>@user -> The command !testcommand has been deleted!</p>
			<p><small>You can use delete or remove</small></p>
			<p><small>You can use the shorthand <code>!delcom !command</code> or <code>!deletecom !command</code></small></p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>