<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !firstseen</h1>
		<p>Returns when <code>username</code> was first seen in the channel.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!firstseen</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!firstseen username</p>
			<p><strong>DogeBot: </strong>@user -> username was first seen on July 8th 2017, 12:47:46 am.</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>