<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !followage</h1>
		<p>Returns how long <code>username</code> has been following the channel.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!followage</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!followage username</p>
			<p><strong>DogeBot: </strong>@user -> username has been following for 3 years, 20 hours!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>