<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !gamble</h1>
		<p>Allows a user to gamble x number of loyalty points.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!gamble</code> is set to <code>everyone</code>.</p>
		<h3>Examples (starting with 20 points)</h3>
		<blockquote>
			<h4>!gamble 10 (win)</h4>
			<p><strong>User: </strong>!gamble 10</p>
			<p><strong>DogeBot: </strong>@user -> Congrats! You won 10 points, taking you to a total of 30!</p>
		</blockquote>
		<blockquote>
			<h4>!gamble 10 (lose)</h4>
			<p><strong>User: </strong>!gamble 10</p>
			<p><strong>DogeBot: </strong>@user -> Hahaha! You lost 10 points, leaving you with a measly 10!</p>
		</blockquote>
		<blockquote>
			<h4>!gamble all (win)</h4>
			<p><strong>User: </strong>!gamble all</p>
			<p><strong>DogeBot: </strong>@user -> Congrats! You won 20 points, taking you to a total of 40!</p>
		</blockquote>
		<blockquote>
			<h4>!gamble all (lose)</h4>
			<p><strong>User: </strong>!gamble all</p>
			<p><strong>DogeBot: </strong>@user -> Hahaha! You lost all your points!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>