<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !game</h1>
		<p>Returns the game currently being played on the channel, or modifies the current game.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!game</code> is set to <code>everyone</code>. However, the permission level for the ability to modify the game is set to <code>mods and above</code>.</p>
		<h3>Examples</h3>
		<blockquote>
			<h4>!game</h4>
			<p><strong>User: </strong>!game</p>
			<p><strong>DogeBot: </strong>@user -> The current game is Destiny 2!</p>
		</blockquote>
		<blockquote>
			<h4>!game newgame</h4>
			<p><strong>Modded User: </strong>!game Battlefield 4</p>
			<p><strong>DogeBot: </strong>@user -> The current game has been updated to Battlefield 4!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>