<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !giveaway</h1>
		<p>Starts, stops, enters, and picks a winner for a giveaway.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!giveaway</code> is set to <code>super mod and above</code>. However, the permission level for entering a giveaway is set to <code>everyone</code>.</p>
		<h3>Examples</h3>
		<blockquote>
			<h4>!giveaway start</h4>
			<p><strong>Super Modded User: </strong>!giveaway start Free Game</p>
			<p><strong>DogeBot: </strong>@user has started a new giveaway! Use !enter for a chance to win!</p>
		</blockquote>
		<blockquote>
			<h4>!enter</h4>
			<p><strong>User: </strong>!enter</p>
			<p><strong>DogeBot: </strong>@user -> You have entered for: Free Game</p>
			<p><small>To set a point cost for entering a giveaway, use <code>!commands setcost !enter 10</code></small></p>
		</blockquote>
		<blockquote>
			<h4>!giveaway end</h4>
			<p><strong>Super Modded User: </strong>!giveaway end</p>
			<p><strong>DogeBot: </strong>@user -> Entries for the giveaway have closed! Use "!giveaway roll" to pick a winner!</p>
			<p><small>You can also use <code>stop</code> or <code>close</code></small></p>
		</blockquote>
		<blockquote>
			<h4>!giveaway roll</h4>
			<p><strong>Super Modded User: </strong>!giveaway roll</p>
			<p><strong>DogeBot: </strong>The winner is user! You will be contacted shortly with your prize!</p>
			<p><small>You can also use <code>pick</code> or <code>winner</code></small></p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>