<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !lastseen</h1>
		<p>Returns when <code>username</code> was last seen in the channel.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!lastseen</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!lastseen username</p>
			<p><strong>DogeBot: </strong>@user -> username was last seen January 27th 2019, 5:20:26 pm.</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>