<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !mute</h1>
		<p>Stops the bot from sending messages in chat and sends all messages via whisper instead.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!mute</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!mute</p>
			<p><strong>DogeBot: </strong>@user -> Bot has been muted!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>