<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !pause</h1>
		<p>Pauses the music.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!pause</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!pause</p>
			<p><strong>DogeBot: </strong>@user -> Music has been paused!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>