<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !play</h1>
		<p>Plays the music.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!play</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!play</p>
			<p><strong>DogeBot: </strong>@user -> Music is now playing!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>