<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !playlistrequest</h1>
		<p>Allows users to request <code>x</code> amount of songs from a YouTube playlist. This can be a URL or playlistID, and the number of songs allowed is determined in the channel song settings.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!playlistrequest</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!playlistrequest PLS84tqhbWDgM9OP6b59JEJt_kWLeYNnwl</p>
			<p><strong>DogeBot: </strong>Gathering playlist data, please wait...</p>
			<p><strong>DogeBot: </strong>@user -> 10 songs added!</p>
			<p><small>You can use the shorthand <code>!pr PLS84tqhbWDgM9OP6b59JEJt_kWLeYNnwl</code></small></p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>