<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !points</h1>
		<p>Returns the number of loyalty points the user running the command has.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!points</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!points</p>
			<p><strong>DogeBot: </strong>@user -> You currently have 437 points!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>