<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !removesongs</h1>
		<p>Removes song by queue position or all songs by <code>username</code>.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!removesongs</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!removesongs 6</p>
			<p><strong>DogeBot: </strong>@user -> The song Rick Astley - Never Gonna Give You Up (Video) has been removed!</p>
			<p><small>You can use the shorthand <code>!removesong 6</code></small></p>
		</blockquote>
		<blockquote>
			<p><strong>Modded User: </strong>!removesongs username</p>
			<p><strong>DogeBot: </strong>@user -> Songs removed!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>