<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !shoutout</h1>
		<p>Sends a message shouting out another streamer.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!shoutout</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!shoutout Adam13531</p>
			<p><strong>DogeBot: </strong>Make sure to give Adam13531 a follow! Adam13531 was last seen playing Science &amp; Technology. You can follow Adam13531 at https://twitch.tv/Adam13531</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>