<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !shuffle</h1>
		<p>Shuffles all songs in the song queue.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!shuffle</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!shuffle</p>
			<p><strong>DogeBot: </strong>@user -> Songs shuffled!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>