<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !skipsong</h1>
		<p>Skips the currently playing song.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!skipsong</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!skipsong</p>
			<p><strong>DogeBot: </strong>@user -> Rick Astley - Never Gonna Give You Up (Video) has been skipped!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>