<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !songrequest</h1>
		<p>Adds the <code>song</code> to the song list. Can be a URL, videoID, or song title.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!songrequest</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!songrequest dQw4w9WgXcQ</p>
			<p><strong>DogeBot: </strong>@user -> The song Rick Astley - Never Gonna Give You Up (Video) has been added to the queue as #1!</p>
			<p><small>You can use the shorthand <code>!sr dQw4w9WgXcQ</code></small></p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>