<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !songlist</h1>
		<p>Returns the list of songs in the queue.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!songlist</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!songlist</p>
			<p><strong>DogeBot: </strong>@user -> The song list is available at: https://thedogebot.com/songs/channel</p>
			<p><small>You can use the shorthand <code>!songs</code> or <code>!sl</code></small></p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>