<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !srp</h1>
		<p>Adds the <code>song</code> to the song list and promotes it at the same time.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!srp</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!srp dQw4w9WgXcQ</p>
			<p><strong>DogeBot: </strong>@user -> The song Rick Astley - Never Gonna Give You Up (Video) has been added to the queue as #1!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>