<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !title</h1>
		<p>Returns the current title of the stream, or updates the title.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!title</code> is set to <code>everyone</code>. However, the permission level for the ability to modify the title is set to <code>mods and above</code>.</p>
		<h3>Examples</h3>
		<blockquote>
			<h4>!title</h4>
			<p><strong>User: </strong>!title</p>
			<p><strong>DogeBot: </strong>@user -> The title is testeroni!</p>
		</blockquote>
		<blockquote>
			<h4>!title test title</h4>
			<p><strong>Modded User: </strong>!title test title</p>
			<p><strong>DogeBot: </strong>@user -> The title has been updated to test title!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>