<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !unmute</h1>
		<p>Allows the bot to send messages in chat again.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!unmute</code> is set to <code>mods and above</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>Modded User: </strong>!unmute</p>
			<p><strong>DogeBot: </strong>@user -> Bot has been unmuted!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>