<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !uptime</h1>
		<p>Returns the stream uptime.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!uptime</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!uptime</p>
			<p><strong>DogeBot: </strong>@user -> channel has been live for 2 hours, 52 minutes, 31 seconds!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>