<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !viewers</h1>
		<p>Returns the current number of viewers.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!viewers</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!viewers</p>
			<p><strong>DogeBot: </strong>@user -> channel currently has 162 viewers!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>