<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !volume</h1>
		<p>Returns the volume for the currently playing song, or sets the current volume.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!volume</code> is set to <code>everyone</code>. However, the permission level for the ability to modify the volume is set to <code>mods and above</code>.</p>
		<h3>Examples</h3>
		<blockquote>
			<h4>!volume</h4>
			<p><strong>User: </strong>!volume</p>
			<p><strong>DogeBot: </strong>@user -> The current volume is 50!</p>
		</blockquote>
		<blockquote>
			<h4>!volume 20</h4>
			<p><strong>Modded User: </strong>!volume 20</p>
			<p><strong>DogeBot: </strong>@user -> The volume has been updated to 20!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>