<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !winner</h1>
		<p>Returns a random user from the viewer list as a 'winner'.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!winner</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!winner</p>
			<p><strong>DogeBot: </strong>@user -> The winner is testUser!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>