<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !wrongsong</h1>
		<p>Removes the last song requested by the user calling the command.</p>
		<h3>Permissions</h3>
		<p>The default permission level for <code>!wrongsong</code> is set to <code>everyone</code>.</p>
		<h3>Example</h3>
		<blockquote>
			<p><strong>User: </strong>!wrongsong</p>
			<p><strong>DogeBot: </strong>@user -> Rick Astley - Never Gonna Give You Up (Video) has been removed!</p>
		</blockquote>
		<p><a href="/default-commands">&larr; Back to Default Commands</a></p>
	</section>
</div>