<!DOCTYPE html>
<html lang="en">
<head>
	{{> head}}
</head>
<body class="home">
	<div class="navbar">
		<div class="navbar-header">
			<img src="img/logo.png" alt="" height="100" class="mobile-only" />
			<a class="brand" href="/">Doge<span class="blue-highlight">Bot</span></a>
		</div>
		<ul class="home-nav">
			{{> nav}}
		</ul>
	</div>
	{{{body}}}
	{{> ga}}
</body>
</html>