<!DOCTYPE html>
<html lang="en">
<head>
	{{> head}}
</head>
<body>
	<div id="left" class="column">
		<div class="top-left">
			<a class="brand" href="/">Doge<span class="blue-highlight">Bot</span></a>
		</div>
		<div class="bottom-left">
			{{> leftbar}}
		</div>
	</div><!--left-->
	<div id="right" class="column">
		<div class="top-right">
			<div class="mobile-brand-container">
				<a href="#" class="nav-toggle-button blue-styled-button mini"><i class="fa fa-bars"></i></a>
				<a class="brand" href="/">Doge<span class="blue-highlight">Bot</span></a>
			</div>
			<ul class="user-nav">
				{{> logged-in-nav}}
			</ul>
		</div>
		<div class="bottom-right">
			{{{body}}}
		</div>
	</div><!--right-->
	{{> ga}}
</body>
</html>