<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>DogeBot</title>
		<meta name="Keywords" content="DogeBot, doge bot, doge chat bot, doge, Twitch chat bot, chatbot, twitch chatbot, twitch music bot, twitch chat music bot, playlist song request, shuffle songs, song requests, shuffle songs twitch, song request twitch chat, shuffle songs twitch, chat bot commands, manage twitch chat" />
		<meta name="Description" content="DogeBot is built to simplify your streaming life. From adding commands, to managing your music queue from your phone - the bot is built with YOU in mind." />
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="/js/jquery.js"></script>
		<script src="/js/datatables.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/socket.js"></script>
		<script src="/js/song-functions.js"></script>
		<script src="/js/functions.js"></script>
		<script src="/js/scripts.js"></script>
		<script src="/js/pace.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>