<h1><i class="fa fa-ban"></i> Blacklist <small>{{{userData.urlChannel}}}</small></h1>
<p>Below is a list of your channel's song blacklist!</p>
<table class="datatable songs">
	<thead>
		<th>#</th>
		<th class="datatable-half">Title</th>
		<th>Video ID</th>
		<th>Blacklisted By</th>
	</thead>
	<tbody>{{{formattedBlacklist}}}</tbody>
</table>
<div class="nosongs"></div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script>
	$(document).ready(function() {
		if (readCookie(page)) {
			dataTableStartSize = readCookie(page);
		} else {
			dataTableStartSize = '25';
		}
		buildDataTable('.datatable', dataTableStartSize);
	});
</script>