<h1><i class="fa fa-terminal"></i> Commands <small>{{{userData.urlChannel}}}</small></h1>
<p>Below is a list of your channel's commands. You can use variables such as $(touser), $(counter), and $(list) to make the bot's responses dynamic.</p>
<div class="commandssection"></div>
<table class="datatable commands">
	<thead>
		<th>Command</th>
		<th class="datatable-half">Response</th>
		<th>Counter</th>
		<th>Permissions Level</th>
	</thead>
	<tbody>{{{formattedCommands}}}</tbody>
</table>
<div class="mfp-hide white-popup-block"></div>
<a class="hiddenTrigger" href=".mfp-hide"></a>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="/js/datatables.js"></script>
<script>
	$(document).ready(function() {
		if (readCookie(page)) {
			dataTableStartSize = readCookie(page);
		} else {
			dataTableStartSize = '25';
		}
		buildDataTable('.datatable', dataTableStartSize);
		$('.hiddenTrigger').magnificPopup({
			type: 'inline'
		});
	});
	// $('.view-list').click(async function(e) {
	$('.datatable').on('click', '.view-list', async function(e) {
		e.preventDefault();
		const trigger = $(this).parent().parent().attr('id');
		const channel = $('.urlChannel').text();
		let listCommandItems = await loadListCommandItems(channel, trigger);
		$('.mfp-hide').html('<h1><i class="fa fa-magic"></i> List items for '+ trigger + '</h1>' + listCommandItems);
		$('.hiddenTrigger').click();
	});
</script>