<div class="inner-content-wrapper">
	<div class="main-content">
		<div class="container wrapper">
			<h1><i class="fa fa-twitter"></i> Contact</h1>
			<p>If you want to contact me, I am <a href="http://ske.dog/twitter" target="_blank">@ygtskedog</a> on Twitter, join my <a href="http://ske.dog/discord" target="_blank">Discord</a>, or email me @ skedog (at) skedog (dot) com.</p>
			<p>If you come across a bug, please file it <a href="https://github.com/Skedog/SkedogBot/issues/new?title=&assignee=&body=**Steps%20to%20reproduce**%0A%0A**Expected%20outcome**%0A%0A**Actual%20outcome**%0A%0A" target="_blank">here</a>.</p>
		</div>
	</div>
</div>