<div class="container wrapper">
	<div class="starter-template">
		<h1>{{=it.title}}</h1>
		<p>If you want to contact me, I am <a href="https://twitter.com/ygtskedog" target="_blank">@ygtskedog</a>, join my <a href="https://discord.gg/0r521W1zwE8L9Cv2" target="_blank">Discord</a>, or email me @ skedog (at) skedog (dot) com.</p>
		<p>If you come across a bug, please file it <a href="https://github.com/Skedog/SkedogBot/issues" target="_blank">here</a>.</p>
	</div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>