<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Current Song Info</title>
</head>
<body>
<div class="commandssection"></div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/datatables.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/song-functions.js"></script>
<script src="/js/command-functions.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/scripts.js"></script>
<script>

$.ajaxSetup({ cache: false });

async function getNewSongInfo() {
	channelData = await init(URLSplit[2]);
	const firstSongInQueue = await getFirstSongInQueue(channelData);
	if (firstSongInQueue) {
		if ('{{=it.showText}}' == 'true') {
			$('.commandssection').html('Current Song: ' + firstSongInQueue['songTitle']);
		} else {
			$('.commandssection').html(firstSongInQueue['songTitle']);
		}
	} else {
		$('.commandssection').html('No song requested');
	}
};

getNewSongInfo();
</script>
</html>