<div class="commandssection"></div>
<script src="js/jquery.js"></script>
<script src="js/scripts.js"></script>
<script>
$(document).ready(function() {
	$.ajaxSetup({ cache: false });
	getNewSongInfo();
	setInterval(function(){getNewSongInfo()}, 3000);
});

function getNewSongInfo() {
	if ('{{=it.passedUser}}' != 'undefined') {
		var passedChannel = '{{=it.passedUser}}';
		var data = 'channel=#' + passedChannel;
	} else {
		var userDetails = decodeURIComponent(readCookie("userDetails")).split(',');
		var data = 'channel=' + userDetails[2];
	};
	$.ajax({
		url: '/getcurrentsongforobs',
		data: data,
		type: 'POST',
		success: function(data) {
			$('.commandssection').html(data[0]['songTitle']);
		}
	});
};
</script>