<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Current Song Info</title>
</head>
<body>
<div class="commandssection"></div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/datatables.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/song-functions.js"></script>
<script src="/js/command-functions.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/scripts.js"></script>
<script>
$(document).ready(function() {
	$.ajaxSetup({ cache: false });
	getNewSongInfo();
});

async function getNewSongInfo() {
	$.ajax({
		url: '/getsonglist',
		data: channelData,
		type: 'POST',
		success: function(data) {
			if (data) {
				if ('{{=it.showText}}' == 'true') {
					$('.commandssection').html('Current Song: ' + data[0]['songTitle']);
				} else {
					$('.commandssection').html(data[0]['songTitle']);
				}
			} else {
				$('.commandssection').html('No song requested');
			}
		}
	});
};
</script>
</html>