<div class="inner-content-wrapper">
	<div class="main-content">
		<div class="container wrapper">
			<h1><i class="fa fa-user-circle-o"></i> Dashboard</h1>
			<p>This is the intro dashboard for users when they are logged in. You can have the bot join/leave your channel using the button above!</p>
			<p>Use the navigation to the left to get started. For a full list of default commands, go <a href="https://github.com/Skedog/SkedogBot#all-default-commands" target="_blank">here</a>.</p>
		</div>
	</div>
</div>