<div class="container wrapper">
	<div class="starter-template">
		<div>
			<h1><img src="/img/dashboard.png" alt="" />Dashboard</h1>
			<p>This is the intro dashboard for users when they are logged in. You can have the bot join/leave your channel using the button below!</p>
			<p>Use the navigation above to get started. For a full list of default commands, go <a href="https://github.com/Skedog/SkedogBot#all-default-commands" target="_blank">here</a>.</p>
			<div class="channel-status">
				<!-- <div class="button">
					<button type="button" class="botStatusBtn blue-styled-button">Join Channel</button>
				</div>
				<div class="details">
					<div class="messagesFromBot"></div>
				</div> -->
			</div>
		</div>
	</div>
</div>
<script>getChannelName('{{=it.passedUser}}').then(channelName => {});</script>