<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> Default Commands</h1>
		<div class="link-container">
			<ul>
				<li><code>!8ball</code> - Returns a random '8-Ball' type of message</li>
				<li><code>!bf4stats</code> <code>username</code> <code>platform (pc/xbox/ps3/xone/ps4)</code> - Returns <code>username</code>'s rank, k/d and full stats link</li>
				<li><code>!blacklist</code> - Returns a link to the song blacklist for the channel
					<ul>
						<li><code>add</code> <code>song</code> - Adds <code>song</code> to the blacklist</li>
						<li><code>add</code> <code>current</code> - Adds the current playing song to the blacklist and skips the song</li>
						<li><code>delete</code> <code>song</code> - Removes <code>song</code> from the blacklist</li>
					</ul>
				</li>
				<li><code>!commands</code> - Returns a link to the user added commands for the channel
					<ul>
						<li><code>add</code> <code>!command</code> <code>text</code> - Adds <code>!command</code> to the channel</li>
						<li><code>addalias</code> <code>!newcommand</code> <code>!commandtoalias</code> - Adds <code>!newcommand</code> as an alias for <code>!commandtoalias</code></li>
						<li><code>edit</code> <code>!command</code> <code>command text</code> - Edits <code>!command</code> to contain <code>command text</code></li>
						<li><code>permissions</code> <code>!command</code> <code>0 - 4</code> - Sets the needed permission level for the given <code>!command</code></li>
						<li><code>delete</code> <code>!command</code> - Removes <code>!command</code></li>
					</ul>
				</li>
				<li><code>!currentsong</code> - Returns the currently playing song</li>
				<li><code>!firstseen</code> <code>username</code> - Returns when <code>username</code> was first seen in the channel</li>
				<li><code>!followage</code> <code>username</code> - Returns how long <code>username</code> has been following the channel</li>
				<li><code>!game</code> - Returns the game currently being played on the channel
					<ul>
						<li><code>newgame</code> - Updates the current game on Twith to <code>newgame</code></li>
					</ul>
				</li>
				<li><code>!lastseen</code> <code>username</code> - Returns when <code>username</code> was first seen in the channel</li>
				<li><code>!lastsong</code> - Returns the last song that played</li>
				<li><code>!pause</code> - Pauses the music</li>
				<li><code>!play</code> - Plays the music</li>
				<li><code>!playlistrequest</code> <code>playlist</code> - Allows users to request <code>x</code> amount of songs from a YouTube playlist. Can be a URL or playlistID.</li>
				<li><code>!promote</code> <code>queue position</code> - Promotes <code>queue position</code> to be the next song played</li>
				<li><code>!regulars</code> - Used to add and remove regulars from the channel
					<ul>
						<li><code>add</code> <code>username</code> - Add <code>username</code> as a regular for the channel</li>
						<li><code>delete</code> <code>username</code> - Deletes <code>username</code> as a regular for the channel</li>
					</ul>
				</li>
				<li><code>!removesongs</code> <code>queue position or username</code>: Removes song by queue position or all songs by <code>username</code>.</li>
				<li><code>!shuffle</code> - Shuffles all songs in the song queue</li>
				<li><code>!skipsong</code> - Skips the currently playing song</li>
				<li><code>!songcache</code> - Keeps a record of all songs that have been requested, and doesn't allow the same songs to be repeated within <code>x</code> time frame.</li>
				<li><code>!songlist</code> - Returns the list of songs in the queue</li>
				<li><code>!songrequest</code> <code>song</code> - Adds the <code>song</code> to the song list. Can be a URL, videoID, or song title.</li>
				<li><code>!title</code> - Returns the current title of the stream
					<ul>
						<li><code>newtitle</code> - Updates the current title of the stream on Twitch to <code>newtitle</code></li>
					</ul>
				</li>
				<li><code>!uptime</code> - Returns the uptime</li>
				<li><code>!viewers</code> - Returns the current number of viewers</li>
				<li><code>!volume</code> - Returns the volume for the currently playing song</li>
				<li><code>!winner</code> - Returns a random user from the viewer list as a 'winner'</li>
				<li><code>!wrongsong</code> - Removes the last song requested by the user calling the command.</li>
			</ul>
		</div>
	</section>
</div>