<div class="left-bar">
	<div class="doc-nav">
		<h4><a href="#">Documentation <i class="fa fa-minus"></i></a></h4>
		<ul>
			<li><a href="/"><i class="fa fa-certificate"></i>Getting Started</a></li>
			<li><a href="/default-commands"><i class="fa fa-magic"></i>Default Commands</a></li>
			<!-- <li><a href="/faq"><i class="fa fa-magic"></i>FAQ</a></li> -->
			<li><a href="http://skedogbot.com"><i class="fa fa-home"></i>SkedogBot Home</a></li>
		</ul>
		<h4><a href="#">Resources <i class="fa fa-minus"></i></a></h4>
		<ul>
			<li><a href="http://skedogbot.com/contact"><i class="fa fa-twitter"></i>Contact Us</a></li>
			<li><a href="https://github.com/Skedog/SkedogBot/issues/new?title=&assignee=&body=**Steps%20to%20reproduce**%0A%0A**Expected%20outcome**%0A%0A**Actual%20outcome**%0A%0A" target="_blank"><i class="fa fa-bug"></i>Submit a Bug</a></li>
		</ul>
	</div>
</div>