<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>SkedogBot</title>
		<link href="/css/style.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700|Poppins:400,500,600,700" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="/js/jquery.js"></script>
		<!--<script src="/js/bootstrap.js"></script>-->
		<script src="/js/datatables.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/socket.js"></script>
		<script src="/js/song-functions.js"></script>
		<script src="/js/command-functions.js"></script>
		<script src="/js/functions.js"></script>
		<script src="/js/scripts.js"></script>
		<script src="/js/pace.js"></script>
	</head>
	<body class="documentation home">
		<div class="navbar navbar-inverse navbar-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <a href="#" class="navstatus blue-styled-button mini">Toggle Nav</a> -->
				<a href="#" class="navstatus blue-styled-button mini"><i class="fa fa-bars"></i></a>
				<a class="navbar-brand dont-hide" href="/">Skedog<span class="blue-highlight">Bot</span> Docs</a>
			</div>
		</div>
		<div class="left-bar-container"></div>
		<div class="documentation-wrapper">
			<section class="content">
				<h1><i class="fa fa-certificate"></i> Getting started only takes 3 steps!</h1>
				<ol>
					<li>Go to <a href="http://skedogbot.com">http://skedogbot.com</a> and click the "Login with Twitch" button at the top right</li>
					<li>Login to your Twitch account, and grant SkedogBot the proper permissions</li>
					<li>Click the "Join Channel" button at the top</li>
				</ol>
				<p>And that's it! SkedogBot is now in your channel, ready to handle whatever you throw at it! You can now start adding commands, requesting songs, and so much more! Check out the <a href="/default-commands">Default Commands</a> page to see what all SkedogBot can do for you!</p>
			</section>
		</div>
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-105813556-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>