<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-certificate"></i> Get started in only 3 steps!</h1>
		<ol>
			<li>Go to <a href="https://thedogebot.com">http://thedogebot.com</a> and click the "Login with Twitch" button at the top right</li>
			<li>Login to your Twitch account, and grant DogeBot the proper permissions</li>
			<li>Click the "Join Channel" button at the top</li>
		</ol>
		<p>And that's it! DogeBot is now in your channel, ready to handle whatever you throw at it! You can now start adding commands, requesting songs, and so much more!</p>
		<p>Check out the <a href="/default-commands">Default Commands</a> page to see what all DogeBot can do for you!</p>
	</section>
</div>