<video class="bgvid" playsinline="" autoplay="" muted="" loop="">
	<source src="/img/bg.mp4" type="video/mp4">
</video>
<div class="main-text">
	<h1>Skedog<span class="blue-highlight">Bot</span></h1>
	<h4>The ultimate Twitch chat music bot!</h4>
</div>

<div class="main-content clearfix">
	<div class="wrapper container">
		<div class="threecol">
			<div>
				<div class="image-container">
					<img src="img/built.png" alt="" />
				</div>
				<div class="desc">
					<h3>Built with <span class="blue-highlight">YOU</span> in mind</h3>
					<p>The bot is built to simplify your streaming life. From adding commands, to managing your music queue from your phone - the bot is built with <span class="blue-highlight">YOU</span> in mind.</p>
				</div>
			</div>
			<div>
				<div class="image-container">
					<img src="img/commands.png" alt="" />
				</div>
				<div class="desc">
					<h3>Unlimited Commands</h3>
					<p>Want to have <span class="blue-highlight">6,000,000</span> commands in your channel? Now you can! Lists, counters, and more, all at your finger tips!</p>
				</div>
			</div>
			<div>
				<div class="image-container">
					<img src="img/remove.png" alt="" />
				</div>
				<div class="desc">
					<h3>Remove Multiple Songs</h3>
					<p>Did someone request a playlist of nothing but troll songs? You can <span class="blue-highlight">batch remove</span> all the songs per user with 1 command!</p>
				</div>
			</div>
			<div>
				<div class="image-container">
					<img src="img/cache.png" alt="" />
				</div>
				<div class="desc">
					<h3>Song Cache</h3>
					<p>Tired of hearing the same song? The bot creates a <span class="blue-highlight">song cache</span> that allows you to pick a cooldown (30 hours by default) before you hear it again!</p>
				</div>
			</div>
			<div>
				<div class="image-container">
					<img src="img/shuffle.png" alt="" />
				</div>
				<div class="desc">
					<h3>Shuffle</h3>
					<p>Have a lot of similar songs in a row? The <span class="blue-highlight">shuffle</span> command mixes the order of the songs in queue to spice things up!</p>
				</div>
			</div>
			<div>
				<div class="image-container">
					<img src="img/playlists.png" alt="" />
				</div>
				<div class="desc">
					<h3>Playlist Requests</h3>
					<p>This exclusive feature allows you to request a <span class="blue-highlight">YouTube playlist</span>, and the bot will randomly pick (10 by default) songs and add them to your queue!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="starter-template">
	</div>
</div>