<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>SkedogBot</title>
		<link href="/css/style.css" rel="stylesheet"/>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/datatables.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/socket.js"></script>
		<script src="/js/song-functions.js"></script>
		<script src="/js/command-functions.js"></script>
		<script src="/js/functions.js"></script>
		<script src="/js/scripts.js"></script>
		<script src="/js/pace.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Skedog<span class="dark-blue-highlight">Bot</span></a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
		{{=it.body}}
	</body>
</html>