<div class="left-bar">
	<div class="main-nav">
		<h4><a href="#">My Account <i class="fa fa-plus"></i></a></h4>
		<ul>
			<li><a href="/dashboard"><i class="fa fa-user-circle-o"></i>Dashboard</a></li>
			<li><a href="/moderation"><i class="fa fa-unlock-alt"></i>Moderation Panel</a></li>
			<li><a href="/chatlog"><i class="fa fa-comments"></i>Chatlog</a></li>
			<li><a href="/currentsonginfo" target="_blank"><i class="fa fa-music"></i>Now Playing Page</a></li>
		</ul>
		<h4><a href="#">Commands <i class="fa fa-plus"></i></a></h4>
		<ul>
			<li><a href="/commands"><i class="fa fa-terminal"></i>Custom Commands</a></li>
			<li><a href="https://github.com/Skedog/SkedogBot#all-default-commands" target="_blank"><i class="fa fa-magic"></i>Default Commands</a></li>
		</ul>
		<h4><a href="#">Song Requests <i class="fa fa-plus"></i></a></h4>
		<ul>
			<li><a href="/songs"><i class="fa fa-music"></i>Songs</a></li>
			<li><a href="/songcache"><i class="fa fa-music"></i>Song Cache</a></li>
			<li><a href="/blacklist"><i class="fa fa-ban"></i>Song Blacklist</a></li>
			<li><a href="/player"><i class="fa fa-headphones"></i>Player</a></li>
			<li><a href="/mobile"><i class="fa fa-mobile"></i>Mobile Controller</a></li>
			<li><a href="/currentsonginfo" target="_blank"><i class="fa fa-music"></i>Now Playing Page</a></li>
			<li><a href="/song-settings"><i class="fa fa-cog"></i>Song Settings</a></li>
		</ul>
		<h4><a href="#">Resources <i class="fa fa-plus"></i></a></h4>
		<ul>
			<li><a href="/contact"><i class="fa fa-twitter"></i>Contact Us</a></li>
			<li><a href="https://github.com/Skedog/SkedogBot/issues/new?title=&assignee=&body=**Steps%20to%20reproduce**%0A%0A**Expected%20outcome**%0A%0A**Actual%20outcome**%0A%0A" target="_blank"><i class="fa fa-bug"></i>Submit a Bug</a></li>
		<li><a href="http://ske.dog/donate" target="_blank"><i class="fa fa-money"></i>Donate</a></li>
		<li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
		</ul>
	</div>
</div>