<li class="notifications-link"><a href="#"><i class="fa fa-bell-o"></i><div class="notification-counter">0</div></a></li>
<li><a href="#" class="botStatusBtn blue-styled-button mini">Join Channel</a></li>
<li class="dropdown"><a href="#" class="no-mobile"><img src="{{=it.channelLogo}}" alt="" class="channel-logo" /><span class="loggedInChannelName">{{=it.channelToPass}}</span><span class="urlChannel">{{=it.urlChannel}}</span></a>
	<ul class="dropdown-content">
		<li><a href="/moderation/{{=it.channelToPass}}">Moderation</a></li>
		<li><a href="/currentsonginfo/{{=it.channelToPass}}?showText=true" target="_blank">Now Playing Page</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</li>
<div class="notifications-div">
	<h3><i class="fa fa-bell"></i> Notifications</h3>
	<ul class="notifications"></ul>
</div>