<li><a href="/dashboard">Home</a></li>
<li class="dropdown">
	<a href="#" class="no-mobile">Commands</a>
	<ul class="dropdown-content">
		<li><a href="/commands">Your Commands</a></li>
		<li><a href="https://github.com/Skedog/SkedogBot#all-default-commands" target="_blank">Default Commands</a></li>
	</ul>
</li>
<li class="mobile-only"><a href="/commands">Your Commands</a></li>
<li class="mobile-only"><a href="https://github.com/Skedog/SkedogBot#all-default-commands" target="_blank">Default Commands</a></li>
<li class="mobile-only"><a href="/songs">Songs</a></li>
<li class="mobile-only"><a href="/songcache">Song Cache</a></li>
<li class="mobile-only"><a href="/player">Player</a></li>
<li class="mobile-only"><a href="/mobile">Mobile Controller</a></li>
<li class="mobile-only"><a href="/song-settings">Song Settings</a></li>
<li class="dropdown">
	<a href="#" class="no-mobile">Songs</a>
	<ul class="dropdown-content">
		<li><a href="/songs">Songlist</a></li>
		<li><a href="/songcache">Song Cache</a></li>
		<li><a href="/player">Player</a></li>
		<li><a href="/mobile">Mobile Controller</a></li>
		<li><a href="/song-settings">Song Settings</a></li>
	</ul>
</li>
<li><a href="/contact">Contact</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="https://github.com/Skedog/SkedogBot/issues/new?title=&assignee=&body=**Steps%20to%20reproduce**%0A%0A**Expected%20outcome**%0A%0A**Actual%20outcome**%0A%0A" target="_blank">Submit Bug</a></li>