<div class="gear">
	<div class="center"></div>
	<div class="tooth"></div>
	<div class="tooth"></div>
	<div class="tooth"></div>
	<div class="tooth"></div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script>
Twitch.init({clientId: '{{apiKey}}'}, function(error, statusInit) {
	var accesstoken = getUrlHash()['access_token'];
	if (accesstoken != undefined) {
		var token = Twitch.getToken();
		var data = 'token=' + token;
		$.ajax({
			url: '{{postURL}}/handlelogin',
			data: data,
			type: 'POST',
			success: function(data) {
				if (data == 'useradded' || data == 'userupdated') {
					var redirect = '{{{redirectTo}}}';
					if (redirect !== '' && redirect.includes('login') === false) {
						window.location.assign('{{{redirectTo}}}');
					} else {
						window.location.assign('/dashboard');
					}
				} else {
					window.location.assign('/error?passedError=loginFailed&errorDesc=An&nbsp;error&nbsp;occurred&nbsp;in&nbsp;/handlelogin');
				};
			}
		});
	} else {
		var urlError = getUrlVars()['urlError'];
		if (urlError == undefined) {
			Twitch.login({
				scope: ['user_read','channel_editor','channel_commercial','channel_subscriptions']
			});
		} else {
			var errorDesc = getUrlVars()['error_description'];
			window.location.assign('/error?passedError=' + urlError + '&errorDesc=' + errorDesc);
		}
	};
});
</script>