<div class="container wrapper">
	<div class="gear">
        <div class="center"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
    </div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script>
Twitch.logout(function(error) {
	window.location.assign("/");
});
</script>