<div class="gear">
    <div class="center"></div>
    <div class="tooth"></div>
    <div class="tooth"></div>
    <div class="tooth"></div>
    <div class="tooth"></div>
</div>
<script src="/js/twitch.min.js"></script>
<script>
Twitch.logout(function(error) {
	window.location.assign("/");
});
</script>