<div class="container wrapper">
	<div class="starter-template">
		<img src="/img/tablet.png" alt="" />
		<h1>Mobile Controller</h1>
		<div class="mobile-buttons clearfix">
			<button type="button" class="blue-styled-button togglePlay">Pause</button>
			<button type="button" class="blue-styled-button skipBtn">Skip</button>
			<button type="button" class="blue-styled-button volBtn" id="up">Volume +</button>
			<button type="button" class="blue-styled-button volBtn" id="down">Volume -</button>
		</div>
		<div class="currentsong"></div>
		<div class="currentvolume"></div>
	</div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
var player;
var userDetails = decodeURIComponent(readCookie("userDetails")).split(',');
var loggedInChannel = userDetails[2];
var data = 'channel=' + loggedInChannel;
$(document).ready(function() {


	checkMusicStatus();
	this['musicStatusInterval'] = setInterval(function() {
		checkMusicStatus();
	}, 3000);

	volumeReader();
	setInterval(function(){volumeReader()}, 3000);

	getCurrentSongInfo();
	setInterval(function(){getCurrentSongInfo()}, 3000);

	$.ajaxSetup({ cache: false });
	$('.volBtn').click(function(e) {
		e.preventDefault();
		var direction = $(this).attr('id');
		var data = 'channel=' + loggedInChannel;
		$.ajax({
			url: '/getvolume',
			data: data,
			type: 'POST',
			success: function(data) {
				var oldVol = data[0]['volume'];
				var newVol = 0;
				if (direction == 'up') {
					if (oldVol < 90) {
						newVol = Number(oldVol) + 10;
					} else {
						newVol = 100;
					};
				} else {
					if (oldVol > 10) {
						newVol = oldVol - 10;
					} else {
						newVol = 10;
					};
				};
				var channelInfo = 'channel=' + loggedInChannel;
				$.ajax({
					url: '/updatevolume',
					data: channelInfo + '&volume=' + newVol,
					type: 'POST',
					success: function(data) {
					}
				});
			}
		});
	});
	$('.skipBtn').click(function(e) {
		e.preventDefault();
		loadNextSong();
	});
	$('.togglePlay').click(function(e) {
		e.preventDefault();
		var channelInfo = 'channel=' + loggedInChannel;
		if ($(this).text() == 'Pause') {
			$(this).text('Play');
			$.ajax({
				url: '/updatemusicstatus',
				data: channelInfo + '&musicStatus=pause',
				type: 'POST'
			});
		} else {
			$(this).text('Pause');
			$.ajax({
				url: '/updatemusicstatus',
				data: channelInfo + '&musicStatus=play',
				type: 'POST'
			});
		};
	});
});

function loadPlayer() {
	var data = 'channel=' + loggedInChannel;
	var testing = $.ajax({
		url: '/getsonglist',
		data: data,
		type: 'POST',
		success: function(data) {
			if (data[0] != undefined) {
				buildPlayer(data[0]['songID']);
				getCurrentSongInfo();
			} else {
				$('#player').html('Currently no songs in the queue!');
			};
		}
	});
}

function buildPlayer(videoID) {
	player = new YT.Player('player', {
		height: '390',
		width: '640',
		videoId: videoID,
		events: {
			'onReady': onPlayerReady,
			'onStateChange': onPlayerStateChange
		}
	});
};

function getCurrentSongInfo() {
	var data = 'channel=' + loggedInChannel;
	$.ajax({
		url: '/getsonglist',
		data: data,
		type: 'POST',
		cache: false,
		success: function(data) {
			$('.currentsong').html('<strong>Song Title:</strong> ' + data[0]['songTitle'] + '<br><strong>Requested By:</strong> ' + data[0]['whoRequested']);
		}
	});
}

function loadNextSong() {
	var data = 'channel=' + loggedInChannel;
	$.ajax({
		url: '/loadnextsong',
		data: data,
		type: 'POST',
		success: function(data) {
			if (data == 'empty') {
				console.log(data);
			} else {
				getCurrentSongInfo();
				$('.togglePlay').text('Pause');
			};
		}
	});
	$('#songlistframe').attr('src','http://skedog.com/sr/songlist');
}

function isNumeric(n) {
	return !isNaN(parseFloat(n)) && isFinite(n);
};

function volumeReader() {
	var data = 'channel=' + loggedInChannel;
	$.ajax({
		url: '/getvolume',
		data: data,
		type: 'POST',
		success: function(data) {
			var oldVol = data[0]['volume'];
			$('.currentvolume').html('<strong>Current Volume: </strong>' + oldVol);
		}
	});
};

function checkMusicStatus() {
	var data = 'channel=' + loggedInChannel;
	$.ajax({
		url: '/getmusicstatus',
		data: data,
		type: 'POST',
		success: function(data) {
			var databaseMusicStatus = data[0]['musicStatus'];
			if (databaseMusicStatus == 'pause') {
				$('.togglePlay').text('Play');
			} else {
				$('.togglePlay').text('Pause');
			};
		}
	});
};

function checkForSkippedSongs() {
	var data = 'channel=' + loggedInChannel;
	var currentPlayingID = player.getVideoUrl().split('v=');
	$.ajax({
		url: '/getsonglist',
		data: data,
		type: 'POST',
		cache: false,
		success: function(data) {
			if (data[0] != undefined) {
				if (data[0]['songID'] == currentPlayingID[1]) {
				} else {
					location.reload();
				};
			} else {
				player.loadVideoById('');
			};
		}
	});
};
</script>