<div class="inner-content-wrapper">
	<div class="main-content">
		<div class="container wrapper">
			<h1><i class="fa fa-mobile"></i> Mobile Controller</h1>
			<p>This page is specifically designed for you the streamer to control your music from a mobile device!</p>
			<div class="mobile-buttons clearfix">
				<button type="button" class="blue-styled-button volBtn" id="down">
					<i class="fa fa-volume-down" title="Volume -10"></i>
				</button>
				<button type="button" class="blue-styled-button volBtn" id="up">
					<i class="fa fa-volume-up" title="Volume +10"></i>
				</button>
				<button type="button" class="blue-styled-button togglePlay">
					<i class="fa fa-pause" title="Pause"></i>
				</button>
				<button type="button" class="blue-styled-button skipBtn">
					<i class="fa fa-fast-forward" title="Skip Song"></i>
				</button>
			</div>
			<div class="currentsong"></div>
			<div class="currentvolume"></div>
			<div class="nosongs"></div>
		</div>
	</div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script>

async function initMobile() {
	const channelData = await init($('.urlChannel').text());
	const songlist = await loadFormattedSonglist(channelData,'');
	if (songlist) {
		const currentVolume = await getVolume(channelData);
		updateOnScreenVolume(currentVolume);
	} else {
		$('.nosongs').html("Currently no songs in the queue!");
	};

	applyMusicStatus(channelData);
	handlePlayPauseClick($('.togglePlay'));
	handleVolumeClick($('.volBtn'));
	handleSkipClick($('.skipBtn'));
};

initMobile();

$.ajaxSetup({ cache: false });

</script>