<div class="container wrapper">
	<div class="starter-template">
		<h1><img src="/img/tablet.png" alt="" />Mobile Controller</h1>
		<div class="mobile-buttons clearfix">
			<button type="button" class="blue-styled-button togglePlay">Pause</button>
			<button type="button" class="blue-styled-button skipBtn">Skip</button>
			<button type="button" class="blue-styled-button volBtn" id="up">Volume +</button>
			<button type="button" class="blue-styled-button volBtn" id="down">Volume -</button>
		</div>
		<div class="currentsong"></div>
		<div class="currentvolume"></div>
	</div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
var channelData = '';
getChannelName('{{=it.passedUser}}').then(channelName => {
	buildChannelDataString(channelName).then(channelRes => {
		channelData = channelRes;
		loadSonglist(channelData,'');
		$.ajaxSetup({ cache: false });

		$('.volBtn').click(function(e) {
			e.preventDefault();
			var direction = $(this).attr('id');
			getVolume(channelData).then(currentVolume => {
				var newVol = 0;
				if (direction == 'up') {
					if (currentVolume < 90) {
						newVol = Number(currentVolume) + 10;
					} else {
						newVol = 100;
					};
				} else {
					if (currentVolume > 10) {
						newVol = currentVolume - 10;
					} else {
						newVol = 10;
					};
				};
				updateVolume(channelData,newVol).then(newVol => {
					volumeReader();
				});
			});
		});

		$('.togglePlay').click(function(e) {
			e.preventDefault();
			if ($(this).text() == 'Pause') {
				$(this).text('Play');
				updateMusicStatus(channelData,'pause');
			} else {
				$(this).text('Pause');
				updateMusicStatus(channelData,'play');
			};
		});

		$('.skipBtn').click(function(e) {
			e.preventDefault();
			$.ajax({
				url: '/loadnextsong',
				data: channelData,
				type: 'POST',
				success: function(data) {
					loadSonglist(channelData,'');
				}
			});
		});
	});
});

this['checkSkippedSongsInterval'] = setInterval(function() {
	loadSonglist(channelData,'');
}, 1000);

this['musicStatusInterval'] = setInterval(function() {
	checkMusicStatus();
}, 1000);

setInterval(function(){volumeReader()}, 1000);

function volumeReader() {
	getVolume(channelData).then(currentVolume => {
		$('.currentvolume').html('<strong>Current Volume: </strong>' + currentVolume);
	});
};

function checkMusicStatus() {
	getMusicStatus(channelData).then(musicStatus => {
		if (musicStatus[0]['musicStatus'] == 'pause') {
			$('.togglePlay').text('Play');
		} else {
			$('.togglePlay').text('Pause');
		};
	});
};
</script>