<div class="container wrapper">
	<div class="starter-template">
		<h1><img src="/img/commands.png" alt="" /> Moderation Panel</h1>
		<div class="moderation-messages"></div>
		<div class="song-container">
			<div class="control-buttons moderation clear">
				<div class="volumeContainer clear clearfix">
					<h3>Volume</h3>
					<div class="slider clear">
						<input type="range" id="volumeRange" value="" max="100" min="0" onchange="updateRangeVolume(this.value)" />
						<input type="text" name="volumeInput" id="volumeInput" disabled />
					</div>
					<div class="buttons clear">
						<button type="button" class="blue-styled-button volBtn" id="up">Volume +10</button>
						<button type="button" class="blue-styled-button volBtn" id="down">Volume -10</button>
						<!-- <button type="button" class="blue-styled-button shuffleBtn" id="shuffle">Shuffle Songs</button> -->
					</div>
				</div>
			</div>
			<div class="moderation-songlist songlist">
				<table class="datatable moderation"><thead><th>#</th><th>Title</th><th>Requested</th><th>Remove</th></thead><tbody></tbody></table>
			</div>
		</div>
		<div class="chatbox"></div>
		<div class="details">
			<div class="messagesFromBot clear"></div>
		</div>
	</div>
</div><!-- /.container -->
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script>
	function loadModerationPanels(channelName) {
		if (channelName.includes('#')) {channelName = channelName.slice(1);};
		var chatPanel = '<iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/' + channelName + '/chat"></iframe>';
		$('.chatbox').html(chatPanel);
	};
	function updateRangeVolume(newVol) {
		$('#volumeInput').val(newVol);
		getChannelName('{{=it.passedUser}}').then(channelName => {
			buildChannelDataString(channelName).then(channelData => {
				updateVolume(channelData,newVol).then(newVol => {
				});
			});
		});
	}
	getChannelName('{{=it.passedUser}}').then(channelName => {
		loadModerationPanels(channelName);
		buildChannelDataString(channelName).then(channelData => {
			var loggedInChannel = userDetails[2];
			passedPage = 'moderation';
			loadSonglist(channelData,passedPage).then(songlist => {
				if (songlist) {
					dataTableStartSize = 'All';
					buildDataTable(songlist,'.datatable',dataTableStartSize);
					checkForSonglistChanges(channelData,songlist,dataTableStartSize,passedPage);
				} else {
					$('.datatable tbody').hide();
					$('.songlist').html("Currently no songs in the queue!");
				};
			});
			getVolume(channelData).then(currentVolume => {
				$('#volumeInput').val(currentVolume);
				$('#volumeRange').val(currentVolume);
			});
			$('body').on('click', '.removeButton', function(e) {
				removeSong($(this).attr('id'),channelName,loggedInChannel).then(removeSongData => {
					if (removeSongData != 'song removed') {
						$('.messagesFromBot').html('<p>There was an error removing that song, please try again!</p>').fadeIn("fast");
						setTimeout(function(){
							$('.messagesFromBot').fadeOut("slow");
						},2000);
					};
				});
			});
			$('.volBtn').click(function(e) {
				e.preventDefault();
				var direction = $(this).attr('id');
				getVolume(channelData).then(currentVolume => {
					var newVol = 0;
					if (direction == 'up') {
						if (currentVolume < 90) {
							newVol = Number(currentVolume) + 10;
						} else {
							newVol = 100;
						};
					} else {
						if (currentVolume > 10) {
							newVol = currentVolume - 10;
						} else {
							newVol = 10;
						};
					};
					$('#volumeInput').val(newVol);
					$('#volumeRange').val(newVol);
					updateVolume(channelData,newVol).then(newVol => {
						volumeReader();
					});
				});
			});
			this['checkSonglistHeightChange'] = setInterval(function() {
				if ($( window ).width() > 767) {
					$('.chatbox,.song-container').height($( window ).height()-235);
				} else {
					$('.chatbox,.song-container').removeAttr('style');
				}
			}, 1000);
		});
	});
</script>