<div class="inner-content-wrapper">
	<div class="main-content">
		<div class="container wrapper">
			<h1><i class="fa fa-music"></i> Player</h1>
			<p>Below is how you listen to your song queue! Request some songs, and then click play; the bot will handle the rest!</p>
			<div class="player-page">
				<div id="player"></div>
				<div class="buttons">
					<button type="button" class="blue-styled-button volBtn" id="down">
						<i class="fa fa-volume-down" title="Volume -10"></i>
					</button>
					<button type="button" class="blue-styled-button volBtn" id="up">
						<i class="fa fa-volume-up" title="Volume +10"></i>
					</button>
					<button type="button" class="blue-styled-button togglePlay">
						<i class="fa fa-pause" title="Pause"></i>
					</button>
					<button type="button" class="blue-styled-button skipBtn">
						<i class="fa fa-fast-forward" title="Skip Song"></i>
					</button>
				</div>
				<div class="currentsong"></div>
				<div class="currentvolume"></div>
			</div>
			<div class="player-songlist songlist">
				<table class="datatable">
					<thead>
						<th>#</th>
						<th class="datatable-half">Title</th>
						<th>Requested</th>
					</thead>
					<tbody></tbody>
				</table>
				<div class="nosongs"></div>
			</div>
		</div>
	</div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="/js/datatables.js"></script>
<script>
let player;

async function loadPlayer() {
	let songlist;
	showLoader($('.nosongs'));
	songlist = await loadSonglist(channelData);
	hideLoader($('.nosongs'));
	if (songlist[0] != undefined) {
		player = new YT.Player('player', {
			videoId: songlist[0]['songID'],
			events: {
				'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
			}
		});
		songlist = await loadFormattedSonglist(channelData,'player');
		if (songlist) {
			if (readCookie(page)) {
				dataTableStartSize = readCookie(page);
			} else {
				dataTableStartSize = '25';
			}
			buildDataTable(songlist,'.datatable',dataTableStartSize);
		} else {
			$('.datatable tbody').hide();
			$('.songlist').html("Currently no songs in the queue!");
		};
	} else {
		$('.nosongs').html('Currently no songs in the queue!');
	};
}

async function onPlayerReady(event) {
	event.target.playVideo();
	let currentVolume = await getVolume(channelData);
	player.setVolume(currentVolume);
	updateOnScreenVolume(currentVolume);
};

function onPlayerStateChange(event) {
	if (event.data == 0) {
		if ('{{=it.passedUser}}' == 'undefined') {
			loadNextSong();
		} else {
			location.reload();
		}
	} else if (event.data == 1 || event.data == 2) {
		applyMusicStatus(channelData);
	};
}

function onYouTubeIframeAPIReady() {
	loadPlayer();
	handlePlayPauseClick($('.togglePlay'));
	handleVolumeClick($('.volBtn'));
	handleSkipClick($('.skipBtn'));
};
</script>