<div class="container wrapper">
	<div class="starter-template">
		<h1><img src="/img/playlists.png" alt="" />Player</h1>
		<div class="player-page">
			<div id="player"></div>
			<div class="buttons">
				<button type="button" class="blue-styled-button togglePlay">Pause</button>
				<button type="button" class="blue-styled-button volBtn" id="down">Volume -</button>
				<button type="button" class="blue-styled-button volBtn" id="up">Volume +</button>
				<button type="button" class="blue-styled-button skipBtn">Skip</button>
			</div>
			<div class="currentsong"></div>
			<div class="currentvolume"></div>
		</div>
		<div class="player-songlist songlist">
			<table class="datatable"><thead><th>#</th><th>Title</th><th>Requested</th></thead><tbody></tbody></table>
			<div class="nosongs"></div>
		</div>
	</div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="/js/datatables.js"></script>
<script>
let player;
const channelName = getChannelName('{{=it.passedUser}}');
const channelData = buildChannelDataString(channelName);

$('.volBtn').click(async function(e) {
	e.preventDefault();
	let newVol = await volumeBtnClick($(this));
	await updateVolume(channelData,newVol);
	player.setVolume(newVol);
	updateOnScreenVolume(newVol);
});

$('.togglePlay').click(async function(e) {
	e.preventDefault();
	if ($(this).text() == 'Pause') {
		await updateMusicStatus(channelData,'pause');
		$(this).text('Play');
		player.pauseVideo();
	} else {
		await updateMusicStatus(channelData,'play');
		$(this).text('Pause');
		player.playVideo();
	};
});

$('.skipBtn').click(function(e) {
	e.preventDefault();
	loadNextSong();
});

async function loadPlayer() {
	let dataToUse;
	await $.ajax({
		url: '/getsonglist',
		data: channelData,
		type: 'POST',
		success: function(data) {
			dataToUse = data;
		}
	});
	if (dataToUse[0] != undefined) {
		player = new YT.Player('player', {
			videoId: dataToUse[0]['songID'],
			events: {
				'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
			}
		});
		let songlist = await loadSonglist(channelData,'player');
		if (songlist) {
			dataTableStartSize = '5';
			buildDataTable(songlist,'.datatable',dataTableStartSize);
		} else {
			$('.datatable tbody').hide();
			$('.songlist').html("Currently no songs in the queue!");
		};
	} else {
		$('.nosongs').html('Currently no songs in the queue!');
	};
}

async function onPlayerReady(event) {
	event.target.playVideo();
	let currentVolume = await getVolume(channelData);
	player.setVolume(currentVolume);
	updateOnScreenVolume(currentVolume);
};

function onPlayerStateChange(event) {
	if (event.data == 0) {
		if ('{{=it.passedUser}}' == 'undefined') {
			loadNextSong();
		} else {
			location.reload();
		}
	} else if (event.data == 1 || event.data == 2) {
		applyMusicStatus(channelData);
	};
}

function onYouTubeIframeAPIReady() {
	loadPlayer();
};
</script>