<div class="inner-content-wrapper">
	<section class="content">
		<div class="policy-container">
			<h1><i class="fa fa-user-secret"></i> Privacy Policy</h1>
			<h3>The Information We Collect</h3>
			<p>As a user of SkedogBot, you may be required to provide us with personally identifiable information. We are the sole owners of any information collected on this site. We only have access to/collect information that you voluntarily give us during sign up, or that is passed through our platform as part of the user experience, such as information from the Twitch service through the Twitch API.</p>
			<p>We're constantly looking for ways to develop new features that our users find valuable. In order to do so, we collect information to help us analyze behavior and interests so that we can continue to make SkedogBot better.</p>
			<p>To do this, we use Google Analytics to collect visitor data and analyze traffic on our site. This information helps us understand your interests and helps us improve our website.</p>
			<p>This information is collected for traffic analysis only. <a href="http://skedogbot.com">skedogbot.com</a> does not sell, give, or trade the statistics we collect for any reason. <strong>Ever.</strong></p>
			<h3>How We use Cookies</h3>
			<p>Like many other sites on the Internet, SkedogBot uses cookies—small text files containing a string of alphanumeric characters.</p>
			<p>Please visit <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank">https://www.google.com/intl/en/policies/privacy/</a> for the Google Analytics privacy policy and to see how they use cookies.</p>
			<h3>Data Disclosure</h3>
			<p>We will only disclose the information we collect to government officials and law enforcement agencies when it is required by law (e.g. in compliance with a subpoena or court order) or if we believe in good faith that such action is appropriate and necessary to protect and defend our rights, or to protect the safety of our users.</p>
			<h3>Your Control of Your Data</h3>
			<p>If desired, you may decline to share your information with us, at which time we will be unable to provided access to our services. If you would like to access, review, correct, update, suppress, or otherwise limit our use of your information, you may contact us at skedog@skedog.com. Please note that in order to protect your privacy and security, we take reasonable steps to verify your identity before making any changes to your information.</p>
			<p>If you have any questions about the data we collect or anything in this policy, please <a href="http://skedogbot.com/contact">Contact Us</a>.</p>
		</div>
	</section>
</div>