<div class="container wrapper">
	<div class="starter-template">
		<h1>Songlist</h1>
		<div class="commandssection"></div>
		<table class="datatable"><thead><th>#</th><th>Title</th><th>Video ID</th><th>Requested By</th></thead><tbody></tbody></table>
	</div>
</div><!-- /.container -->
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="/js/datatables.js"></script>
<script>
	var channelToPass = '';
	if ('{{=it.passedUser}}' != 'undefined') {
		channelToPass = '#{{=it.passedUser}}'
	} else {
		var userDetails = decodeURIComponent(readCookie("userDetails")).split(',');
		channelToPass = userDetails[2];
	};
	var data = 'channel=' + channelToPass;
	$.ajax({
		url: '/getsonglist',
		data: data,
		type: 'POST',
		success: function(data) {
			if (data) {
				var contentData = '';
				$.each(data, function(key, value) {
					contentData = contentData + '<tr><td>' + (key + 1) + '</td><td>' + data[key]['songTitle'] + '</td><td><a href="https://youtu.be/' + data[key]['songID'] + '" target="_blank">' + data[key]['songID'] + '</a></td><td>' + data[key]['whoRequested'] + '</td></tr>';
				});
				$('.datatable tbody').html(contentData);
				$('.datatable').DataTable({
					"lengthMenu": [[25, 50, -1], [25, 50, "All"]]
				});
				$('.datatable').show();
			} else {
				$('.datatable tbody').hide();
				$('.commandssection').html("Currently no songs in the queue for " + channelToPass.slice(1) + "!");
			};
		}
	});
</script>