<div class="container wrapper">
	<div class="starter-template">
		<h1><img src="/img/commands.png" alt="" />Songcache</h1>
		<div class="commandssection"></div>
		<table class="datatable songcache"><thead><th>#</th><th>Title</th><th>Video ID</th></thead><tbody></tbody></table>
	</div>
</div><!-- /.container -->
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script>
	isCache = true;
	getChannelName('{{=it.passedUser}}').then(channelName => {
		buildChannelDataString(channelName).then(channelData => {
			loadSongCache(channelData).then(songCache => {
				if (songCache) {
					dataTableStartSize = '25';
					buildDataTable(songCache,'.datatable',dataTableStartSize);
				} else {
					$('.songcache').html("Currently no songs in the cache!");
					$('.songcache').show();
				};
			});
		});
	});
</script>