<div class="inner-content-wrapper clearfix">
	<div class="main-content">
		<div class="container wrapper">
			<h1><i class="fa fa-music"></i> Songcache</h1>
			<p>Below is a list of your channel's song cache. This is a comprehensive list of every song ever requested in your channel!</p>
			<table class="datatable songcache overflow-wrapper">
				<thead>
					<th>#</th>
					<th class="datatable-half">Title</th>
					<th>Video ID</th>
				</thead>
				<tbody></tbody>
			</table>
			<div class="nosongs"></div>
		</div>
	</div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script>
	async function initSongCache() {
		showLoader($('.nosongs'));
		const songCache = await loadFormattedSongCache(channelData);
		if (songCache) {
			hideLoader($('.nosongs'));
			dataTableStartSize = '25';
			buildDataTable(songCache,'.datatable',dataTableStartSize);
		} else {
			$('.nosongs').html("Currently no songs in the queue!");
		};
	};
	initSongCache();
</script>