<div class="container wrapper">
	<div class="starter-template">
		<h1><img src="/img/commands.png" alt="" />Songcache</h1>
		<table class="datatable songcache"><thead><th>#</th><th>Title</th><th>Video ID</th></thead><tbody></tbody></table>
		<div class="nosongs"></div>
	</div>
</div><!-- /.container -->
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script>
	async function startSongCache() {
		let songCache = await loadSongCache(channelData);
		if (songCache) {
			dataTableStartSize = '25';
			buildDataTable(songCache,'.datatable',dataTableStartSize);
		} else {
			$('.nosongs').html("Currently no songs in the queue!");
		};
	};
	startSongCache();
</script>