<div class="container wrapper">
	<div class="starter-template">
		<h1><img src="/img/commands.png" alt="" />Songlist</h1>
		<table class="datatable songs"><thead><th>#</th><th>Title</th><th>Video ID</th><th>Requested</th></thead><tbody></tbody></table>
		<div class="nosongs"></div>
	</div>
</div><!-- /.container -->
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script>
	async function startSonglist() {
		let channelName = getChannelName('{{=it.passedUser}}');
		let channelData = buildChannelDataString(channelName);
		let songlist = await loadSonglist(channelData,'');
		if (songlist) {
			dataTableStartSize = '25';
			buildDataTable(songlist,'.datatable',dataTableStartSize);
		} else {
			$('.nosongs').html("Currently no songs in the queue!");
		};
	};
	startSonglist();
</script>