<div class="container wrapper">
	<div class="starter-template">
		<img src="img/gear.png" alt="" />
		<h1>Song Settings</h1>
		<form action="#" name="settings" id="settings">
			<label for="duplicateSongDelay"><span>Duplicate song delay (hours): </span><input type="text" name="duplicateSongDelay" id="duplicateSongDelay" /></label>
			<label for="songNumberLimit"><span>Songs per user (count): </span><input type="text" name="songNumberLimit" id="songNumberLimit" /></label>
			<label for="maxSongLength"><span>Max song length (minutes): </span><input type="text" name="maxSongLength" id="maxSongLength" /></label>
			<input type="submit" name="submit" value="Submit" class="blue-styled-button" />
			<div class="messagesFromBot"></div>
		</form>
	</div>
</div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="/js/validator.min.js"></script>
<script>
var userDetails = decodeURIComponent(readCookie("userDetails")).split(',');
var loggedInChannel = userDetails[2];
$(document).ready(function() {
	var data = 'channel=' + loggedInChannel;
	$.ajax({
		url: '/getsettings',
		data: data,
		type: 'POST',
		success: function(data) {
			$('#duplicateSongDelay').val(data[0].duplicateSongDelay);
			$('#songNumberLimit').val(data[0].songNumberLimit);
			$('#maxSongLength').val(data[0].maxSongLength);
		}
	});
	var failedField = false;
	var validateField = function(fieldToCheck) {
		return new Promise((resolve, reject) => {
			if (fieldToCheck.is('#maxSongLength')) {
				if (fieldToCheck.val() > 59) {
					fieldToCheck.css({
						'background-color':'#ff5252'
					});
					$('.messagesFromBot').html('<p>' + 'Max song length cannot be larger than 59 minutes!' + '</p>').fadeIn("fast");
					setTimeout(function(){
						$('.messagesFromBot').fadeOut("slow");
					},2000);
					reject('failed check');
				}
			}
			if (!validator.isNumeric(fieldToCheck.val())) {
				fieldToCheck.css({
					'background-color':'#ff5252'
				});
				reject('failed check');
			} else {
				fieldToCheck.removeAttr('style');
				resolve('done');
			}
		});
	};
	$('#settings').children('label').children('input[type="text"]').keyup(function(e) {
		validateField($(this)).then(test => {
			failedField = false;
		}).catch(err => {
			failedField = true;
		});
	});
	$('#settings').submit(function(e) {
		e.preventDefault();
		var duplicateSongDelay = $('#duplicateSongDelay').val();
		var songNumberLimit = $('#songNumberLimit').val();
		var maxSongLength = $('#maxSongLength').val();
		var canUpdate = true;
		var specialMessage = '';
		$('#settings').children('label').children('input[type="text"]').each(function(){
			validateField($(this)).catch(err => {
				failedField = true;
				return false;
			});
		});
		if (!failedField) {
			var data = 'channel=' + loggedInChannel + '&duplicateSongDelay=' + duplicateSongDelay + '&songNumberLimit=' + songNumberLimit + '&maxSongLength=' + maxSongLength;
			$.ajax({
				url: '/updatesettings',
				data: data,
				type: 'POST',
				success: function(data) {
					$('.messagesFromBot').html('<p>' + 'Settings updated!' + '</p>').fadeIn("fast");
					setTimeout(function(){
						$('.messagesFromBot').fadeOut("slow");
					},2000);
				}
			});
		}
	});
});
</script>