:root {
	--default-font-size:14px;
	--default-link-color:#428bca;
	--transparent-blue-border:3px solid rgba(14, 45, 60, 0.7);
	--inner-right-height:calc(100vh - 215px);
}
table.dataTable{width:100%;margin:0 auto;clear:both;border-collapse:separate;border-spacing:0}table.dataTable thead th,table.dataTable tfoot th{font-weight:bold}table.dataTable thead th,table.dataTable thead td{padding:10px 18px;border-bottom:1px solid #111}table.dataTable thead th:active,table.dataTable thead td:active{outline:none}table.dataTable tfoot th,table.dataTable tfoot td{padding:10px 18px 6px 18px;border-top:1px solid #111}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc{cursor:pointer;*cursor:hand}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{background-repeat:no-repeat;background-position:center left}table.dataTable thead .sorting{background-image:url("../img/sort_both.png")}table.dataTable thead .sorting_asc{background-image:url("../img/sort_asc.png")}table.dataTable thead .sorting_desc{background-image:url("../img/sort_desc.png")}table.dataTable thead .sorting_asc_disabled{background-image:url("../img/sort_asc_disabled.png")}table.dataTable thead .sorting_desc_disabled{background-image:url("../img/sort_desc_disabled.png")}table.dataTable tbody tr{background-color:#13334e}table.dataTable tbody tr.selected{background-color:#B0BED9}table.dataTable tbody th,table.dataTable tbody td{padding:8px}table.dataTable.row-border tbody th,table.dataTable.row-border tbody td,table.dataTable.display tbody th,table.dataTable.display tbody td{border-top:1px solid #ddd}table.dataTable.row-border tbody tr:first-child th,table.dataTable.row-border tbody tr:first-child td,table.dataTable.display tbody tr:first-child th,table.dataTable.display tbody tr:first-child td{border-top:none}table.dataTable.cell-border tbody th,table.dataTable.cell-border tbody td{border-top:1px solid #ddd;border-right:1px solid #ddd}table.dataTable.cell-border tbody tr th:first-child,table.dataTable.cell-border tbody tr td:first-child{border-left:1px solid #ddd}table.dataTable.cell-border tbody tr:first-child th,table.dataTable.cell-border tbody tr:first-child td{border-top:none}table.dataTable.stripe tbody tr.odd,table.dataTable.display tbody tr.odd{background-color:#f9f9f9}table.dataTable.stripe tbody tr.odd.selected,table.dataTable.display tbody tr.odd.selected{background-color:#acbad4}table.dataTable.hover tbody tr:hover,table.dataTable.display tbody tr:hover{background-color:#f6f6f6}table.dataTable.hover tbody tr:hover.selected,table.dataTable.display tbody tr:hover.selected{background-color:#aab7d1}table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#fafafa}table.dataTable.order-column tbody tr.selected>.sorting_1,table.dataTable.order-column tbody tr.selected>.sorting_2,table.dataTable.order-column tbody tr.selected>.sorting_3,table.dataTable.display tbody tr.selected>.sorting_1,table.dataTable.display tbody tr.selected>.sorting_2,table.dataTable.display tbody tr.selected>.sorting_3{background-color:#acbad5}table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#f1f1f1}table.dataTable.display tbody tr.odd>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd>.sorting_2{background-color:#f3f3f3}table.dataTable.display tbody tr.odd>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd>.sorting_3{background-color:whitesmoke}table.dataTable.display tbody tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1{background-color:#a6b4cd}table.dataTable.display tbody tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2{background-color:#a8b5cf}table.dataTable.display tbody tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3{background-color:#a9b7d1}table.dataTable.display tbody tr.even>.sorting_1,table.dataTable.order-column.stripe tbody tr.even>.sorting_1{background-color:#fafafa}table.dataTable.display tbody tr.even>.sorting_2,table.dataTable.order-column.stripe tbody tr.even>.sorting_2{background-color:#fcfcfc}table.dataTable.display tbody tr.even>.sorting_3,table.dataTable.order-column.stripe tbody tr.even>.sorting_3{background-color:#fefefe}table.dataTable.display tbody tr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1{background-color:#acbad5}table.dataTable.display tbody tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2{background-color:#aebcd6}table.dataTable.display tbody tr.even.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3{background-color:#afbdd8}table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{background-color:#eaeaea}table.dataTable.display tbody tr:hover>.sorting_2,table.dataTable.order-column.hover tbody tr:hover>.sorting_2{background-color:#ececec}table.dataTable.display tbody tr:hover>.sorting_3,table.dataTable.order-column.hover tbody tr:hover>.sorting_3{background-color:#efefef}table.dataTable.display tbody tr:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1{background-color:#a2aec7}table.dataTable.display tbody tr:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2{background-color:#a3b0c9}table.dataTable.display tbody tr:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3{background-color:#a5b2cb}table.dataTable.no-footer{border-bottom:1px solid #111}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}table.dataTable.compact thead th,table.dataTable.compact thead td{padding:4px 17px 4px 4px}table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{padding:4px}table.dataTable.compact tbody th,table.dataTable.compact tbody td{padding:4px}table.dataTable th.dt-left,table.dataTable td.dt-left{text-align:left}table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty{text-align:center}table.dataTable th.dt-right,table.dataTable td.dt-right{text-align:right}table.dataTable th.dt-justify,table.dataTable td.dt-justify{text-align:justify}table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap{white-space:nowrap}table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left{text-align:left}table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center{text-align:center}table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right{text-align:right}table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify{text-align:justify}table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap{white-space:nowrap}table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left{text-align:left}table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center{text-align:center}table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right{text-align:right}table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify{text-align:justify}table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap{white-space:nowrap}table.dataTable,table.dataTable th,table.dataTable td{-webkit-box-sizing:content-box;box-sizing:content-box}.dataTables_wrapper{position:relative;clear:both;*zoom:1;zoom:1}.dataTables_wrapper .dataTables_length{float:left}.dataTables_wrapper .dataTables_filter{float:right;text-align:right}.dataTables_wrapper .dataTables_filter input{margin-left:0.5em}.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:0.755em}.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:0.25em}.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;padding:0.5em 1em;margin-left:2px;text-align:center;text-decoration:none !important;cursor:pointer;*cursor:hand;color:#fff !important;border:1px solid transparent;border-radius:2px}.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#333 !important;border:1px solid #979797;background-color:white;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#fff !important;border:1px solid transparent;background:transparent;box-shadow:none}.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white !important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;background-color:#2b2b2b;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);box-shadow:inset 0 0 3px #111}.dataTables_wrapper .dataTables_paginate .ellipsis{padding:0 1em}.dataTables_wrapper .dataTables_processing{position:absolute;top:50%;left:50%;width:100%;height:40px;margin-left:-50%;margin-top:-25px;padding-top:20px;text-align:center;font-size:1.2em;background-color:white;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)}.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{color:#fff}.dataTables_wrapper .dataTables_scroll{clear:both}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{*margin-top:-1px;-webkit-overflow-scrolling:touch}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td{vertical-align:middle}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td>div.dataTables_sizing{height:0;overflow:hidden;margin:0 !important;padding:0 !important}.dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom:1px solid #111}.dataTables_wrapper.no-footer div.dataTables_scrollHead table,.dataTables_wrapper.no-footer div.dataTables_scrollBody table{border-bottom:none}.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0}@media screen and (max-width: 767px){.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center}.dataTables_wrapper .dataTables_paginate{margin-top:0.5em}}@media screen and (max-width: 640px){.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{float:none;text-align:center}.dataTables_wrapper .dataTables_filter{margin-top:0.5em}}
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.pace-inactive{display:none}.pace .pace-progress{background:#215f94;position:fixed;z-index:2000;top:0;right:100%;width:100%;height:5px}.home .pace .pace-progress,.login .pace .pace-progress{top:53px}.pace .pace-progress-inner{display:block;position:absolute;right:0;width:100px;height:100%;opacity:1;-webkit-transform:rotate(3deg) translate(0,-4px);-moz-transform:rotate(3deg) translate(0,-4px);-ms-transform:rotate(3deg) translate(0,-4px);-o-transform:rotate(3deg) translate(0,-4px);transform:rotate(3deg) translate(0,-4px)}.pace .pace-activity{display:block;display:none;position:fixed;z-index:2000;top:13px;right:15px;margin:0 auto;width:25px;height:25px;border:solid 2px transparent;border-top-color:#215f94;border-left-color:#215f94;border-radius:10px;-webkit-animation:pace-spinner .4s linear infinite;-moz-animation:pace-spinner .4s linear infinite;-ms-animation:pace-spinner .4s linear infinite;-o-animation:pace-spinner .4s linear infinite;animation:pace-spinner .4s linear infinite}@-webkit-keyframes pace-spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes pace-spinner{0%{-moz-transform:rotate(0);transform:rotate(0)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes pace-spinner{0%{-o-transform:rotate(0);transform:rotate(0)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes pace-spinner{0%{-ms-transform:rotate(0);transform:rotate(0)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes pace-spinner{0%{transform:rotate(0);transform:rotate(0)}100%{transform:rotate(360deg);transform:rotate(360deg)}}
/* =============================================================================
	Defaults
   ========================================================================== */
* {
	box-sizing:border-box;
	font-family: 'Roboto';
}
html {
	height: 100%;
	font-size:var(--default-font-size);
	line-height:1.4;
}
body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	display: flex;
	border-top: 5px solid rgb(63, 130, 187);
	background: #0c2133;
}
a {
	color: var(--default-link-color);
	text-decoration: none;
}
input, select {
	color: #000;
}
input[type=range] {
	-webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 300px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #215f94;
	margin-top: -4px;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}
ul {
	list-style: none;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 20px 0 10px;
	font-weight:500;
}
h1 {
	font-size:36px;
}
h1:first-of-type small {
	font-size:0.7em;
	color:#428bca;
	font-style: italic;
	font-weight: normal;
}
h3 {
	font-size:24px;
}
h4 {
	color: #fff;
	text-align: left;
	font-size:18px;
	margin: 10px 0;
}
p {
	margin:0 0 10px;
}
hr {
	border:3px solid #3F83BB;
}
/* =============================================================================
	scrollbar
   ========================================================================== */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px #195488;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 10px #195488;
}

/* =============================================================================
	layout
   ========================================================================== */
.column {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#left {
	flex-shrink: 0;
	background-color: #141414;
	flex-basis:270px;
	color:#fff;
	transition:transform 0.5s;
	z-index:3;
}
#right {
	background-color: #0c2133;
	color:#fff;
	flex:1;
}
.top-left {
	flex-shrink: 0;
	background-color: #141414;
	color: white;
	padding: 10px 10px 0 10px;
}
.top-right {
	display: flex;
	flex-shrink: 0;
	color: white;
	padding: 10px 10px 0 10px;
	justify-content:space-between;
	align-items:center;
}
.bottom-left, .bottom-right {
	flex-grow: 1;
	padding: 0 20px 20px;
}
.bottom-left, #right {
	overflow-y: auto;
}
/* branding for mobile */
#right .brand {
	opacity:0;
	transition:opacity 0.5s;
	visibility: hidden;
}
.mobile-brand-container {
	display: flex;
	z-index:10;
}
.mobile-only {
	display: none;
}
.white-popup-block {
    background: #0c2133;
    padding: 20px 80px;
    text-align: left;
    max-width: 60%;
    margin: 20px auto;
    position: relative;
    color:#fff;
}

.white-popup-block ol {
  max-width:80%;
  margin:0 auto;
}

.white-popup-block li {
  margin:10px 0;
}

/* =============================================================================
	left-bar
   ========================================================================== */

.brand {
	color:#fff;
	margin-left: 20px;
	font-size:24px;
}
.blue-highlight {
	color:#428bca;
}


/* =============================================================================
	main-nav
   ========================================================================== */
.main-nav a i {
	padding: 0 10px;
}
.main-nav h4 a {
	color: #fff;
	display: flex;
	justify-content:space-between;
	padding: 10px 0;
}
.main-nav h4 a:hover {
	text-decoration: none;
}
.main-nav ul {
	display: block;
	padding-left: 0;
}
.main-nav li {
	margin-right: 20px;
}
.main-nav ul li a {
	display: block;
	padding:10px 0 10px 25px;
}
.main-nav ul li a.current-page, .main-nav ul li a.current-page i {
	color: #fff;
}
#right .nav-toggle-button {
	opacity:0;
	transition:opacity 0.5s;
	visibility: hidden;
}

/* =============================================================================
	user-nav
   ========================================================================== */
.user-nav {
	padding: 0;
	z-index:2;
	display:flex;
}
.user-nav > li {
	margin-right: 0;
}
.user-nav > li > a {
	line-height:20px;
	padding:15px;
	display: block;
	transition:background-color 0.2s;
}
.user-nav li a.blue-styled-button {
	margin-top: 8px;
	color:#fff;
}
.user-nav a {
	color:#999;
}
.urlChannel {
	display: none;
}
.user-nav img.channel-logo {
	max-width: 23px;
	padding: 0 5px 0 0;
	vertical-align:middle;
}
/* dropdown */
.user-nav li.dropdown {
	position: relative;
	display: inline-block;
}
.user-nav > li.dropdown:after {
	content: "\F078";
	border: 0;
	font-family: 'FontAwesome';
	font-weight: 100;
	font-size: 9px;
	position: absolute;
	right: 5px;
	top: 19px;
	color: #7e8689;
}
.user-nav > li.dropdown:hover:after {
	color:#fff;
}
.user-nav > li.dropdown > a {
	padding:15px 20px 15px 10px;
}
.user-nav > li.dropdown > a:hover {
	background:#215f94;
	color:#fff;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	padding: 14px 16px;
	z-index: 11;
	right: 0;
}
.dropdown-content li {
	list-style-type: none;
}
.dropdown-content li a {
	padding: 5px 0;
	display: block;
	color:#428bca;
}
.dropdown:hover .dropdown-content {
	display: block;
}

/* =============================================================================
	notifications
   ========================================================================== */

.notifications-link a {
	font-size:20px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}
.notifications-link a:hover {
	color:#fff;
}
.notifications-div {
	display: none;
}
.notifications-div {
	position: absolute;
	right:20px;
	background:#154671;
	top:50px;
	padding:0;
	border:3px solid rgb(63, 130, 187);
	color:#fff;
	font-size:13px;
	z-index:10;
}
.notifications-div ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	width:300px;
}
.notifications-div li a {
	padding:5px 16px;
	text-align: left;
	display: block;
	color:#fff;
	border-bottom:1px solid rgb(63, 130, 187);
}
.notifications-div li a:hover {
	text-decoration: none;
	background:#1B5689;
}
.notifications-div h3 {
	margin: 0;
	font-size:20px;
	border-bottom:1px solid rgb(63, 130, 187);
	padding:10px 16px;
}

.notifications-div span.close {
	margin-top:-5px;
  	background:none;
  	border:none;
}
.notification-counter {
	position: absolute;
	right:5px;
	bottom:7px;
	color:#fff;
}
.notifications p {
	text-align: center;
	margin:10px 0;
}

/* =============================================================================
	buttons
   ========================================================================== */
.blue-styled-button.mini {
	padding: 5px 15px;
}
.blue-styled-button {
	background: #215f94;
	padding: 10px 30px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	color: #fff;
	border-bottom-width: 3px;
	margin: 0;
	outline: 0;
	display: block;
}
.blue-styled-button:hover {
	background: #276BA5;
}
.buttons {
	display:flex;
	justify-content:space-between;
}
/* =============================================================================
	gear
   ========================================================================== */
.gear {
	position: relative;
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 200px;
	background: #fff;
	border-radius: 50%;
	animation-name: spin;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.gear .center {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 10;
	width: 100px;
	height: 100px;
	background: #276BA5;
	border-radius: 50%;
}
.tooth {
	position: absolute;
	top: -25px;
	left: 75px;
	z-index: 1;
	width: 45px;
	height: 250px;
	background: #fff;
}
.tooth:nth-child(2) {
	transform: rotate(45deg);
}
.tooth:nth-child(3) {
	transform: rotate(90deg);
}
.tooth:nth-child(4) {
	transform: rotate(135deg);
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body.login {
	display: block;
	border-top: 0;
	overflow:visible;
}
.login .navbar {
	position: relative;
	width: 100%;
	background: rgba(20, 20, 20, 0.6);
	border-bottom: 5px solid rgb(63, 130, 187);
	margin: 0;
	display: flex;
	justify-content:space-between;
	padding:10px;
}


/* =============================================================================
	home
   ========================================================================== */
body.home {
	display: block;
	border-top: 0;
	overflow:visible;
}
.home .navbar {
	position: fixed;
	width: 100%;
	background: rgba(20, 20, 20, 0.6);
	border-bottom: 5px solid rgb(63, 130, 187);
	margin: 0;
	display: flex;
	justify-content:space-between;
	padding:10px;
}
.home .main-content {
	padding-top: 50px;
	background: rgba(20, 20, 20, 0.6);
}
.main-text {
	padding: 12% 0;
	text-align: left;
	color: #fff;
	text-align: center;
}
.main-text > * {
	text-align: center;
}
.main-text h1 {
	font-size: 100px;
	margin: 0;
	font-weight: bold;
}
.main-text h4 {
	font-size: 35px;
	margin: 0;
}
.main-text img {
	margin-top: 10px;
}
.bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}
.threecol {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.threecol > div {
	flex-basis:32.4%;
}
.threecol > div {
	align-content:center;
	padding: 30px 0;
	margin: 10px 0;
	color: #fff;
	background: rgba(12, 33, 51, 0.8);
	text-align: center;
	border: var(--transparent-blue-border);
}
.threecol > div p {
	width:60%;
	margin: 0 auto;
}
.home-nav {
	margin-left: 0;
	padding-left: 0;
}

/* =============================================================================
	dashboard
   ========================================================================== */
.statbox-container {
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
.statbox {
	padding:27px 60px;
	border:var(--transparent-blue-border);
	flex-basis:48%;
	margin:10px 0;
}
.topchatters {
	width:25%;
	padding-left: 60px;
	background:rgba(12, 33, 51, 0.8);
	border:var(--transparent-blue-border);
	margin:10px;
	display:flex;
	align-items:left;
	flex-direction:column;
	justify-content:center;
}
.topchatters h3 {
	margin-top: 0;
}
.dashboard-stats {
	display: flex;
}

/* =============================================================================
	datatable
   ========================================================================== */

.datatable {
	text-align: left;
	width: 100%;
}
table.dataTable {
	margin-top: 50px;
}
.dataTables_filter {
	display: block;
}
.dataTables_wrapper {
	padding-top: 20px;
	word-break: break-all;
	overflow-y: auto;
	padding: 0 20px;
	height: 90%;
	max-height: var(--inner-right-height);
}
.mod-wrapper .dataTables_wrapper {
	max-height: calc(var(--inner-right-height) - 55px);
}
table.dataTable tbody tr {
	font-size: 13px;
	color: #fff;
}
table.dataTable tbody tr.even {
	background: #154671;
}
table.datatable a {
	color: #fff;
	text-decoration: underline;
}
table.datatable a:hover {
	color: #3ca4fd;
}
.datatable-half {
	width: 60%!important;
}

/* =============================================================================
	settings
   ========================================================================== */

#settings label, #settings label {
	text-align: left;
	flex-basis:48%;
	justify-content:space-between;
	margin:10px 0;
}
#settings {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
#settings > * {
	flex-basis:50%;
	display: flex;
}
#settings input[type="text"] {
	padding:3px 5px;
}
#settings input[type="submit"] {
	clear: both;
	margin: 0 auto;
	display: block;
}
.messagesFromBot {
	text-align: center;
	margin:10px 0;
}

/* =============================================================================
	moderation
   ========================================================================== */
.moderationBtns {
	display:flex;
	justify-content:flex-end;
}
.moderationBtns > input {
	margin-right: 5px;
}
.moderation-songlist {
	width: 100%;
	padding: 10px;
}
.control-buttons.moderation .blue-styled-button {
	margin: 5px;
	font-size: 20px;
	padding: 8px 30px;
}
.darkinput {
	background: #2e383f;
	border: 0;
	padding: 5px;
	color: #fff;
}
#volumeRange {
	background:none;
	align-self:center;
	flex-grow:1;
}
#volumeInput {
	width: 13%;
	align-self:center;
}
.slider {
	display:flex;
}
.volumeContainer {
	display:flex;
	justify-content:space-between;
}
th.moderation-number {
	width: 9px!important;
}
.mod-wrapper {
	display:flex;
}
.mod-wrapper-left {
	flex-grow:1;
}
/* =============================================================================
	chatlog
   ========================================================================== */

.chatlogs {
	border:var(--transparent-blue-border);
	width:100%;
	padding:20px;
	max-height:calc(var(--inner-right-height) - 20px);
	overflow-y:auto;
}
.chatlogs .date, .chatlogs .displayName, .chat-search label span {
	margin:0 10px 0 0;
}
.badges img {
	margin-right: 5px;
}
.chat-search label span i {
	margin-left: 10px;
}
.chat-message img {
	max-height:21px;
}
.chat-search {
	margin:10px 0;
}
/* =============================================================================
	player
   ========================================================================== */
.player-flex {
	display: flex;
	justify-content:space-around;
}
.player-songlist, .player-page {
	padding: 10px;
	flex-basis:50%;
}
.player-page button {
	margin-left: 10px;
	width:22%;
}
iframe#player {
	width: 100%;
	height: 300px;
}
.player-page.playerFull {
	width: 100%;
}
.player-page.playerFull iframe#player {
	height: 500px;
}
.currentsong, .currentvolume {
	text-align: center;
}
.player-flex .buttons {
	margin:10px 0;
}
/* =============================================================================
	mobile controller
   ========================================================================== */
.mobile-buttons {
	flex-wrap:wrap;
	justify-content:space-between;
}
.mobile-buttons > * {
	flex-basis:48%;
	margin:10px 0;
}
/* =============================================================================
	documentation
   ========================================================================== */
.link-container li {
	margin-top: 15px;
	text-align: left;
}

body.documentation .content code {
	background:#154671;
	color:#fff;
	margin-right: 5px;
	padding:4px 8px;
}
body.documentation blockquote {
	font-size:14px;
	border-left:5px solid #3F83BB;
	background:rgba(63, 131, 187, 0.4);
	padding:10px 20px;
	margin:0 auto 20px;
	max-width:95%;
}
body.documentation blockquote ul {
	margin-left: 0;
	padding-left: 0;
}
body.documentation blockquote ul.indent {
	margin-left: 20px;
}
body.documentation blockquote ul li:first-child {
	margin-top: 0;
}
body.documentation blockquote p {
	margin: 5px 0;
}
body.documentation blockquote p small {
	background:#3f82bb;
	padding:5px;
	margin-left: 10px;
	margin-top: 10px;
	display: block;
}
body.documentation .content h2 {
	font-size:25px;
}
body.documentation .content h2 a {
	color:#fff;
}
body.documentation .content hr {
	margin:20px 0;
}
body.documentation .content h3 {
	font-size:20px;
}
body.documentation .content h4 a {
	text-decoration: underline;
}
/* =============================================================================
	stats
   ========================================================================== */
#channel-form {
	display:flex;
	justify-content:flex-end;
	margin:20px 0;
}
#channel-form > * {
	margin:0 10px;
}
.channel-form-container {
	display:flex;
	justify-content:space-between;
	margin-top: 20px;
}
.channel-form-container h1 {
	margin-top: 0;
}
.stats .statbox-container {
	justify-content:space-between;
}
.statspage.topchatters {
	width:90%;
	padding:55px 60px;
	background:rgba(12, 33, 51, 0.8);
	border:3px solid rgba(14, 45, 60, 0.7);
	margin:10px;
	display: block;
}
.statspage.topchatters {
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

/* =============================================================================
	404/500/etc
   ========================================================================== */
.error {
	margin:0 auto;
	display: block;
	text-align: center;
}
.error h1 {
	font-size:7em;
}
.error img {
	margin:20px 0;
	max-width:100%;
}
.error p {
	font-size:2em;
}
/* =============================================================================
	media queries
   ========================================================================== */
@media screen and (max-width:1775px) {
	/* dashboard */
	.topchatters {
		padding-left: 20px;
	}
}
@media screen and (max-width:1660px) {
	/* dashboard */
	.dashboard-stats {
		flex-direction:column;
	}
	.topchatters {
		padding: 20px;
		width:100%;
		margin:10px 0;
	}
}
@media screen and (max-width:1251px) {
	/* handle left bar showing again */
	#left {
		transform:translate(0,0);
	}
	.threecol > div {
		flex-basis:48%;
	}
}
@media screen and (max-width:1250px) {
	/* hide left bar */
	#left {
		transform:translateX(-100%);
		position: fixed;
	}
	#left .brand {
		visibility: hidden;
	}
	/* show "mobile" logo and nav toggle button */
	#right .brand {
		opacity:1;
		visibility: visible;
	}
	#right .nav-toggle-button {
		opacity:1;
		visibility: visible;
	}
	.player-flex {
		flex-direction:column;
	}
	.player-flex > * {
		flex-basis:100%;
	}
	.statspage.topchatters {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
@media screen and (max-width:750px) {
	/* home */
	.threecol > div {
		flex-basis:90%;
	}
	.volumeContainer {
		flex-direction:column;
	}
	.slider {
		margin:10px 0 10px;
	}
	.buttons {
		order:2;
		margin-bottom:10px;
	}
	/*player*/
	.player-flex .buttons {
		flex-wrap:wrap;
		flex-direction:row;
	}
	.player-flex .buttons > * {
		flex-basis:40%;
		margin:10px 0;
	}
	/*moderation*/
	.moderationBtns {
		justify-content:center;
	}
	/*mobile-controller*/
	.mobile-buttons > * {
		flex-basis:100%;
	}
	/* datatable layout fixing */
	table.dataTable {
		display: block;
	}
	table.dataTable tbody td {
		padding-left: 0!important;
		padding-top: 5px;
		text-align: center;
	}
	table.dataTable tbody td:before {
		width: 100%!important;
		display: block;
		position: relative;
		padding: 0;
		left: 0;
		font-weight: bold;
	}
	.songs td:nth-of-type(1):before {
		content: "#";
		position: absolute!important;
		width:10px!important;
		left:43%!important;
		top:15%!important;
	}
	.songs td:nth-of-type(2):before {
		content: "Title";
	}
	.songs td:nth-of-type(3):before {
		content: "Video ID";
	}
	.songs td:nth-of-type(4):before {
		content: "Requested By";
	}
	.songcache td:nth-of-type(1):before {
		content: "#";
		position: absolute!important;
		width:10px!important;
		left:43%!important;
		top:15%!important;
	}
	.songcache td:nth-of-type(2):before {
		content: "Title";
	}
	.songcache td:nth-of-type(3):before {
		content: "Video ID";
	}
	.moderation td:nth-of-type(1):before {
		content: "#";
		position: absolute!important;
		width:10px!important;
		left:46%!important;
		top:15%!important;
	}
	.moderation td:nth-of-type(2):before {
		content: "Title";
	}
	.moderation td:nth-of-type(3):before {
		content: "Requested By";
	}
	.moderation td:nth-of-type(4):before {
		content: "Promote/Remove";
	}
	.moderation tr:first-child td:nth-of-type(4):before {
		content: "Remove";
	}
	.moderation tr:nth-child(2) td:nth-of-type(4):before {
		content: "Remove";
	}
	.commands td:nth-of-type(1):before {
		content: "Command";
	}
	.commands td:nth-of-type(2):before {
		content: "Text";
	}
	.commands td:nth-of-type(3):before {
		content: "Counter";
	}
	.commands td:nth-of-type(4):before {
		content: "Permission Level";
	}
	table, thead, tbody, th, td, tr {
		display: block;
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		border: 1px solid #ccc;
	}
	td {
		border: none;
		position: relative;
		padding-left: 50%!important;
	}
	td:before {
		position: absolute;
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	.songs, .songcache, .moderation, .commands {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
	}
	.moderation .blue-styled-button.mini {
		margin-right: 0;
	}
	td:before {
		padding-top: 8px;
	}
	/*stats*/
	.channel-form-container {
		flex-direction:column;
	}
	#channel-form {
		justify-content:flex-start;
	}
	.statspage.topchatters {
		padding:10px;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
@media screen and (max-width:500px) {
	/* layout */
	.top-right {
		flex-direction:column;
		align-items:flex-start;
	}
	.mobile-only {
		display: block;
	}
	.home .pace .pace-progress,.login .pace .pace-progress {
	  top:206px;
	}
	.user-nav .notifications-link,.user-nav li.dropdown {
		display: none;
	}
	.user-nav {
		margin:10px 0;
	}
	/* dashboard */
	.statbox {
		flex-basis:100%;
		padding:10px;
	}
	/* home */
	.home .navbar {
		flex-direction:column;
		align-items:center;
	}
	.home .brand {
		margin:10px 0;
		display: block;
	}
	.main-text {
		display: none;
	}
	.home .navbar {
		position: relative;
	}
	.threecol > div p {
		width:100%;
	}
	.threecol > div {
		padding:30px;
	}

	.buttons {
		flex-direction:column;
	}
}