@import url("datatables.min.css");
@import url("bootstrap.css");
@import url("pace.css");

/* =============================================================================
	resets
   ========================================================================== */

html, body {
	height: 100%;
	width: 100%;
}
body {
	background: #0c2133;
	font-family: 'Roboto';
	overflow-x:hidden;
	border-top: 5px solid rgb(63, 130, 187)!important;
}
a {
	color: #428bca;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px #195488;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 10px #195488;
}
input, select {
	color: #000;
}
input[type=range] {
	-webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 300px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #215f94;
	margin-top: -4px;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

/* =============================================================================
	layout
   ========================================================================== */

.container {
	width: 100%;
	float: right;
}
.navbar {
	border: none;
}
.navbar li a.blue-styled-button {
	margin-top: 8px;
	color: #fff;
}
.navbar li a.blue-styled-button:hover {
	background: #276BA5!important;
}
.navbar-inverse {
	background: none;
	float: right;
	width: 100%;
	margin-top: 5px;
}
.navbar-inverse .navbar-brand {
	color: #999;
	color: #fff!important;
	/*display: none;*/
	z-index:11;
	position: fixed;
	margin-left: 20px;
}
.navbar-inverse .navbar-nav>li>a {
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #215f94;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #215f94;
}
.navbar-inverse .navbar-brand:hover {
	color: #fff;
}
.navbar-brand {
	font-size: 24px;
}
.loading-gear {
	margin: 20px auto;
	display: block;
}
.starter-template {
	padding: 20px 15px;
	text-align: center;
}
.nav>li.mobile-only {
	display: none;
}
.navbar-nav>li.dropdown>a {
	padding: 15px 20px 15px 10px;
}
.navbar-nav>li.dropdown:after {
	content: "\F078";
	border: 0;
	font-family: 'FontAwesome';
	font-weight: 100;
	font-size: 9px;
	position: absolute;
	right: 5px;
	top: 19px;
	color: #7e8689;
}
.navbar-nav>li.dropdown:hover:after {
	color: #fff;
}
.nav>li>a>img.channel-logo {
	max-width: 23px;
	padding: 0 5px 0 0;
}

.main-text {
	padding: 17% 9%;
	text-align: left;
	color: #fff;
}
.main-text h1 {
	font-size: 100px;
	margin: 0;
	font-weight: bold;
}
.main-text h4 {
	font-size: 35px;
	margin: 20px 0;
}
.inner-content-wrapper {
	color: #fff;
	float: right;
	/*background:#f00;*/
	width:85%;
	transition:transform 0.5s;
}
.inner-content-wrapper h1 {
	margin-top: 0;
	margin-bottom: 15px;
}
.inner-content-wrapper .datatable tbody {
	color: #000;
}
.inner-content-wrapper .main-content {
	float: right;
	width: 100%;
	/*background:#f0f;*/
	/*height:100%;*/
	/*margin-left: 15%;*/
}
.inner-content-wrapper, .main-content {
	/*height: calc(100% - 50px);*/
}
.container.wrapper {
	/*height: 100%;*/
	/*overflow: hidden;*/
}

.urlChannel {
	display: none;
}

/* =============================================================================
	buttons
   ========================================================================== */

.mobile-buttons button {
	width: 48%;
	float: left;
	height: 50px;
	margin: 0 0 20px 10px;
}
.blue-styled-button.mini {
	padding: 5px 15px;
	float: left;
	margin: 0;
	margin-right: 5px;
}
.blue-styled-button {
	background: #215f94;
	padding: 10px 30px;
	border: 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	color: #fff;
	border-bottom-width: 3px;
	margin: 10px 0;
	outline: 0;
}
.blue-styled-button:hover {
	background: #276BA5;
}

/* =============================================================================
	dropdowns
   ========================================================================== */

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	padding: 14px 16px;
	z-index: 11;
	right: 0;
}
.dropdown-content li {
	list-style-type: none;
}
.dropdown-content li a {
	padding: 5px 0;
	display: block;
}
.dropdown:hover .dropdown-content {
	display: block;
}

/* =============================================================================
	datatable
   ========================================================================== */

.datatable {
	display: none;
	text-align: left;
	width: 100%;
}
.datatable td:before {
	width: auto!important;
}
table.dataTable {
	margin-top: 50px;
}
.dataTables_filter {
	display: block;
}
.dataTables_wrapper {
	padding-top: 20px;
	word-break: break-all;
	overflow-y: auto;
	padding: 0 20px;
	height: 90%;
	max-height: calc(100vh - 175px);
}
table.dataTable tbody tr {
	font-size: 13px;
	color: #fff;
}
table.dataTable tbody tr.even {
	background: #154671;
}
table.datatable a {
	color: #fff;
	text-decoration: underline;
}
table.datatable a:hover {
	color: #3ca4fd;
}

/* =============================================================================
	settings
   ========================================================================== */

#settings label {
	width: 50%;
	display: block;
	float: left;
	text-align: left;
}
#settings label span {
	width: 45%;
	display: block;
	float: left;
}
#settings input[type="submit"] {
	clear: both;
	margin: 0 auto;
	display: block;
}

/* =============================================================================
	home
   ========================================================================== */

.home .navbar {
	position: fixed;
	width: 100%;
}
.home .navbar-inverse {
	background: rgba(20, 20, 20, 0.6);
	border-bottom: 5px solid rgb(63, 130, 187)!important;
	margin: 0;
}
.home .navbar-inverse .navbar-brand {
	display: block;
}
.home .main-content {
	padding-top: 50px;
	background: rgba(20, 20, 20, 0.6);
}
.home .navstatus {
	display: none!important;
}
body.home {
	border-top: 0!important;
}
body.home .navbar-inverse .navbar-brand {
	position: relative;
}


.bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}


/* =============================================================================
	leftbar
   ========================================================================== */

.left-bar {
	height: calc(100vh - 5px);
	margin-top: 5px;
	width:285px;
	transition:transform 0.5s;
	position: fixed;
	/*float: left;*/
	background: rgba(20, 20, 20, 1);
	padding: 20px 40px;
	z-index:10;
	/*position: fixed;*/
}
/*.left-bar-container {
	height: calc(100vh - 5px);
	width: 15%;
	position: fixed;
}*/
.left-bar .navbar-brand {
	display: block;
	color: #fff;
	width: 100%;
	padding: 0;
	height: 50px;
}
.left-bar .main-nav {
	margin-top: 40px;
}
.left-bar .main-nav h4 {
	color: #fff;
	text-align: left;
}
.left-bar .main-nav h4 i {
	float: right;
}
.left-bar .main-nav h4 a {
	color: #fff;
	display: block;
	padding: 10px 0;
}
.left-bar .main-nav h4 a:hover {
	text-decoration: none;
}
.left-bar .main-nav ul {
	list-style-type: none;
	text-align: left;
	padding-left: 0;
	margin-left: 0;
}
.left-bar .main-nav ul li {}
.left-bar .main-nav ul li a {
	color: #428bca;
	padding: 10px 20px 10px 25px;
	display: block;
}
.left-bar .main-nav ul li a i {
	padding: 0 10px;
}
.left-bar .main-nav ul li a.current-page {
	color: #fff;
	/*text-decoration: underline;*/
}
.left-bar .main-nav ul li a.current-page i {
	color: #fff;
}

/* =============================================================================
	gear
   ========================================================================== */

.gear {
	position: relative;
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 200px;
	background: #fff;
	border-radius: 50%;
	animation-name: spin;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.gear .center {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 10;
	width: 100px;
	height: 100px;
	background: #276BA5;
	border-radius: 50%;
}
.tooth {
	position: absolute;
	top: -25px;
	left: 75px;
	z-index: 1;
	width: 45px;
	height: 250px;
	background: #fff;
}
.tooth:nth-child(2) {
	transform: rotate(45deg);
}
.tooth:nth-child(3) {
	transform: rotate(90deg);
}
.tooth:nth-child(4) {
	transform: rotate(135deg);
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* =============================================================================
	dashboard
   ========================================================================== */

.statbox-container {
	float:left;
	width:60%;
}

.statbox {
	float:left;
	width:45%;
	padding:30px 60px;
	border:3px solid rgba(14, 45, 60, 0.7);
	margin:10px;
}
.statbox:nth-child(2n+1) {
	clear:both;
}

.topchatters {
	float:left;
	width:25%;
	padding:55px 60px;
	background:rgba(12, 33, 51, 0.8);
	border:3px solid rgba(14, 45, 60, 0.7);
	margin:10px;
}


/* =============================================================================
	player
   ========================================================================== */

.player-songlist {
	float: right;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
}
.player-page {
	float: left;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
}
.player-page button {
	margin-left: 10px;
	width:22%;
}
iframe#player {
	width: 100%;
	height: 300px;
}
.player-page.playerFull {
	width: 100%;
}
.player-page.playerFull iframe#player {
	height: 500px;
}
.threecol>div {
	float: left;
	width: 32.4%;
	box-sizing: border-box;
	padding: 30px 60px;
	margin: 0 10px 10px 0;
	color: #fff;
	background: rgba(12, 33, 51, 0.8);
	text-align: center;
	min-height: 315px;
	border: 3px solid rgba(14, 45, 60, 0.7);
}
.threecol>div p {
	padding: 0 60px;
}
.delay-container {
	margin: 10px 0;
}
.datatable-half {
	width: 60%!important;
}
table.datatable thead th {
	padding: 10px 6px 10px 30px;
}

/* =============================================================================
	moderation
   ========================================================================== */

.error {
	margin:0 auto;
	display: block;
	text-align: center;
}
.error h1 {
	font-size:7em;
}
.error img {
	margin:20px 0;
}
.error p {
	font-size:2em;
}

/* =============================================================================
	chatlog
   ========================================================================== */

.chatlogs {
	border:3px solid rgba(14, 45, 60, 0.7);
	width:80%;
	padding:20px;
	max-height:calc(100vh - 300px);
	overflow-y:auto;
}
.chatlogs .date {
	display: block;
	float:left;
	margin:0 10px 0 0;
}
.chatlogs .displayName {
	display: block;
	float:left;
	margin:0 10px 0 0;
}

.badges img {
	margin-right: 5px;
}

.chat-search label span {margin-right: 10px;}
.chat-search label span i {margin-left: 10px;}
.chat-search input[type="date"] {
	line-height: inherit;
}

.chat-message img {max-height:21px;}

/* =============================================================================
	moderation
   ========================================================================== */

.moderation-songlist {
	float: left;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.chatbox {
	width: 339px;
	height: 93%;
	float: right;
	position: relative;
	top:-50px;
}
.chatbox iframe {
	width: 100%;
	height: 100%;
	/*min-height:600px;*/
	height: calc(100vh - 250px);
}
.song-container {
	width: 74%;
	float: left;
	height: 90%;
}
.volumeContainer {
	width: 95%;
	float: left;
}
.control-buttons.moderation {
	width: 75%;
	float: left;
}
.control-buttons.moderation .blue-styled-button {
	margin: 10px;
	font-size: 20px;
	width: 90px;
	padding: 8px 30px;
}
.linktoshare {
	float: right;
	width: 100%;
	display: none;
}
.linktoshare span {
	float: left;
	padding-top: 5px;
}
.linktoshare input {
	margin-top: 0;
	width: 82%;
	float: right;
}
.darkinput {
	background: #2e383f;
	border: 0;
	padding: 5px;
	color: #fff;
}
.slider {
	float: right;
	margin-top: 0;
}
#volumeRange {
	width: 85%;
	float: left;
	margin-top: 18px;
}
#volumeInput {
	float: right;
	width: 13%;
	margin-top: 5px;
}
.moderation-number {
	width: 9px!important;
}

.moderationBtns {
	float:right;
	width:100px;
}

/* =============================================================================
	notifications
   ========================================================================== */

.notifications-link a {
	font-size:20px;
}
.navbar-inverse .navbar-nav>li.notifications-link>a:hover, .navbar-inverse .navbar-nav>li.notifications-link>a:focus {
	background:none;
}
.notifications-div {
	display: none;
}
.notifications-div {
	position: absolute;
	right:20px;
	background:#154671;
	top:50px;
	padding:0;
	border:3px solid rgb(63, 130, 187);
	color:#fff;
	font-size:13px;
	z-index:10;
}
.notifications-div ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	width:300px;
}
.notifications-div li a {
	padding:5px 16px;
	text-align: left;
	display: block;
	color:#fff;
	border-bottom:1px solid rgb(63, 130, 187);
}
.notifications-div li a:hover {
	text-decoration: none;
	background:#1B5689;
}
.notifications-div h3 {
	margin: 0;
	font-size:20px;
	border-bottom:1px solid rgb(63, 130, 187);
	padding:10px 16px;
}

.notifications-div span.close {
	margin-top:-5px;
	/*position:absolute;
	top:0;
	right:0;*/
	/*top: 50%;
	right:0;
  	transform: translateY(-50%);*/
  	/*margin-top:10px;*/
  	background:none;
  	border:none;
}
.notification-counter {
	position: absolute;
	right:5px;
	bottom:7px;
	color:#fff;
	/*display: none;*/
}

.notifications p {
	text-align: center;
	margin:10px 0;
}

/* =============================================================================
	documentation
   ========================================================================== */

.policy-container {
	width:60%;
}

hr {
	border:3px solid #3F83BB;
}

.documentation-wrapper {
	color: #fff;
	float: none;
	/*background:#f00;*/
	width:calc(100% - 285px);
	float: right;
	margin:10px 0 10px 0;
	transition:transform 0.5s;
}
section.content {
	/*background:#154671;*/
	width:100%;
	padding:20px;
	display: block;
}
section.content h1 {
	margin-top: 0;

}
.documentation-wrapper {
	margin-top: 75px;
}
.link-container li {
	margin-top: 15px;
	text-align: left;
}

.link-container code {
	background:#154671;
	color:#fff;
	margin-right: 5px;
	padding:4px 8px;
}

body.documentation .navbar {
	/*position: relative;*/
	float:none;
	z-index:12;
}

/*body.documentation .left-bar {
	position: relative;
	float:left;
}*/

body.documentation .left-bar {
	padding-top: 50px;
}
body.documentation section.content {
	padding-top: 70px;
}

body.documentation .left-bar .doc-nav {
	/*margin-top: 40px;*/
}
body.documentation .left-bar .doc-nav h4 {
	color: #fff;
	text-align: left;
}
body.documentation .left-bar .doc-nav h4 i {
	float: right;
}
body.documentation .left-bar .doc-nav h4 a {
	color: #fff;
	display: block;
	padding: 10px 0;
}
body.documentation .left-bar .doc-nav h4 a:hover {
	text-decoration: none;
}
body.documentation .left-bar .doc-nav ul {
	list-style-type: none;
	text-align: left;
	padding-left: 0;
	margin-left: 0;
}
body.documentation .left-bar .doc-nav ul li {}
body.documentation .left-bar .doc-nav ul li a {
	color: #428bca;
	padding: 10px 20px 10px 25px;
	display: block;
}
body.documentation .left-bar .doc-nav ul li a i {
	padding: 0 10px;
}
body.documentation .left-bar .doc-nav ul li a.current-page {
	color: #fff;
	/*text-decoration: underline;*/
}
body.documentation .left-bar .doc-nav ul li a.current-page i {
	color: #fff;
}

body.documentation blockquote {
	font-size:14px;
	border-left:5px solid #3F83BB;
}

body.documentation h2, body.documentation h3 {
	margin:40px 0 15px;
}

/* =============================================================================
	helpers
   ========================================================================== */

.clear {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
.blue-highlight {
	color: #428bca;
}
.dark-blue-highlight {
	color: #215f94;
}
table.dataTable {
	display: table;
}
.right {
	float: right;
}

.left {
	float:left;
}

.dont-hide {display: block!important;}
.navbar a.navstatus {display: none;}

.navbar-nav {
		float: right;
	}

/* =============================================================================
	media queries
   ========================================================================== */

@media screen and (max-width:1850px) {
	.left-bar .main-nav ul li a {padding: 10px 0;}
	.inner-content-wrapper {
		width:80%;
		float: right;
	}
	.control-buttons.moderation,.song-container {
		width:68%;
	}


	.statbox-container {
		clear:left;
	}
	.statbox {
		padding:10px 30px;
	}
	.topchatters {
		width:55%;
		padding:10px 30px;
	}
}

@media screen and (max-width:1520px) {
	.control-buttons.moderation,.song-container {
		width:100%;
		float:none;
	}
	.chatbox {
		margin:10px auto;
		float: none;
		top:0;
	}
	.inner-content-wrapper {
		width:76%;
	}
}

@media screen and (min-width:1151px) {
	.left-bar {
		transform:translate(0,0);
	}
}

@media screen and (max-width:1150px) {
	/*.container {
		width: 85%;
	}*/
	body.documentation .navstatus {
		z-index:50!important;
		display: block!important;
	}
	.left-bar {
		transform:translate(-285px,0);
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border:none!important;
		box-shadow: none!important;
	}
	.navbar-inverse .navbar-brand {
		position: absolute;
	}
	.navbar a.navstatus {
		margin-top: 9px;
		display: block;
		margin-left: 20px;
		z-index:11;
		position: absolute;
		color:#fff!important;
	}
	.navbar-inverse .navbar-brand {
		margin-left: 60px;
	}
	.inner-content-wrapper {
		width:100%;
		float: left;
	}
	.navbar-toggle {
		display:none!important;
	}
}
@media screen and (max-width:1199px) {
	.player-page {
		text-align: center;
	}
	.player-songlist, .player-page {
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	#settings label {
		width: 100%;
		text-align: center;
	}
	.threecol>div {
		width: 48%;
		height: 350px;
		padding: 30px 0;
	}
	.threecol>div img {
		max-width: 100%;
	}
	.moderation-songlist {
		float: none;
		width: 100%;
		clear: both;
	}
	.control-buttons.moderation {
		float: none;
		margin: 0 auto;
	}
	.container {
		/*width: 70%;*/
	}

	.policy-container {
		width:100%;
	}
}
@media screen and (max-width:885px) {
	.moderation-songlist {
		float: none;
	}
	.chatbox {
		width: 100%;
		clear: both;
	}
	.song-container {
		width: 100%;
		float: left;
		height: 350px;
	}
	.starter-template>img {
		width: 100px;
	}
	.volumeContainer {
		width: 95%;
	}
	.topchatters,.statbox-container {
		width:95%;
	}
}
@media screen and (max-width:767px) {

	.player-songlist {
		display: none;
	}

	.volumeContainer .buttons {
		clear:both;
		margin:0 auto;
		width:100%;
	}
	.control-buttons.moderation .blue-styled-button {
		width:30%;
		margin:1%;
	}
	.slider {
		width:100%;
	}
	table.dataTable {
		display: block;
	}
	table.dataTable td div.right {
		float:none;
	}
	.nav>li>a.no-mobile {
		display: none;
	}
	.navbar-nav {
		margin-top: 0;
	}
	.navbar-nav>li.dropdown:after {
		content: '';
	}
	.nav>li.mobile-only {
		display: block!important;
	}
	.navbar-nav > li {
		float: left;
	}
	.dropdown:hover .dropdown-content {
		display: none;
	}
	.mobile-buttons button {
		width: 100%;
	}
	.mobile-buttons {
		margin-bottom: 20px;
	}
	.pace .pace-activity {
		left: 50%;
		right: auto;
	}
	.threecol>div {
		width: 100%;
		height: auto;
	}
	.mobile-buttons button.blue-styled-button {
		margin: 10px 0 0 0;
	}
	.songs td:nth-of-type(1):before {
		content: "#";
		position: absolute!important;
		width:10px!important;
		left:43%!important;
		top:15%!important;
	}
	.songs td:nth-of-type(2):before {
		content: "Title";
	}
	.songs td:nth-of-type(3):before {
		content: "Video ID";
	}
	.songs td:nth-of-type(4):before {
		content: "Requested By";
	}
	.songcache td:nth-of-type(1):before {
		content: "#";
		position: absolute!important;
		width:10px!important;
		left:43%!important;
		top:15%!important;
	}
	.songcache td:nth-of-type(2):before {
		content: "Title";
	}
	.songcache td:nth-of-type(3):before {
		content: "Video ID";
	}
	.moderation td:nth-of-type(1):before {
		content: "#";
		position: absolute!important;
		width:10px!important;
		left:46%!important;
		top:15%!important;
	}
	.moderation td:nth-of-type(2):before {
		content: "Title";
	}
	.moderation td:nth-of-type(3):before {
		content: "Requested By";
	}
	.moderation td:nth-of-type(4):before {
		content: "Promote/Remove";
	}
	.moderation tr:first-child td:nth-of-type(4):before {
		content: "Remove";
	}
	.moderation tr:nth-child(2) td:nth-of-type(4):before {
		content: "Remove";
	}
	.commands td:nth-of-type(1):before {
		content: "Command";
	}
	.commands td:nth-of-type(2):before {
		content: "Text";
	}
	.commands td:nth-of-type(3):before {
		content: "Counter";
	}
	.commands td:nth-of-type(4):before {
		content: "Permission Level";
	}
	table, thead, tbody, th, td, tr {
		display: block;
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		border: 1px solid #ccc;
	}
	td {
		border: none;
		/*border-bottom: 1px solid #eee;*/
		position: relative;
		padding-left: 50%!important;
	}
	td:before {
		position: absolute;
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	.songs, .songcache, .moderation, .commands {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
	}
	.moderation .blue-styled-button.mini {
		float: none;
		margin-right: 0;
	}
	td:before {
		padding-top: 8px;
	}

	.home .navbar-header {
		float:left;
	}

	.moderationBtns {
		float: none;
		width:auto;
	}
}
@media screen and (max-width:650px) {
	.home .navbar-header {
		float:none;
	}
	#settings label span {
		width: 100%;
	}
	table.dataTable tbody td {
		padding-left: 0!important;
		padding-top: 5px;
		text-align: center;
	}
	table.dataTable tbody td:before {
		width: 100%!important;
		display: block;
		position: relative;
		padding: 0;
		left: 0;
		font-weight: bold;
	}


	.home .navbar-nav {
		margin-top: 10px;
		float:none;
		margin:0 auto;
	}
	.home .navbar-nav > li {
		float:none;
	}
	.home .pace {
		display: none!important;
	}
	.home .navbar li a.blue-styled-button {
		margin:8px auto;
		float: none;
		width:50%;
		text-align: center;
	}
	.home .navbar-inverse .navbar-brand {
		margin:0 auto;
		display: block;
		text-align: center;
		width:100%;
	}
	.home .main-text {
		display: none;
	}
	.home .container.wrapper {
		margin-top: 80px;
	}


	.topchatters,.statbox-container,.statbox {
		width:95%;
	}
}
@media screen and (max-width:350px) {

	.navbar-nav {
		float: none;
		margin-top: 50px;
	}
	.navbar-nav > li {
		float: none;
		display: block;
		width:100%;
	}
	.navbar li a.blue-styled-button {
		display: block;
		margin:8px 20px;
		float: none;
		width:50%;
		text-align: center;
	}
	/*.navbar a.navstatus {
		margin-left: 25%;
	}
	.navbar-inverse .navbar-brand {
		margin-left: 36%;
	}*/
	/*.navbar-nav {
		float: none;
	}*/
}