<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !8ball</h1>
		<div class="link-container">
			<p>The !8ball command returns a random '8-Ball' type of message</p>
			<h3>Usage</h3>
			<blockquote>
				<p>!8ball question</p>
			</blockquote>
			<h3>Example</h3>
			<blockquote>
				<p>!8ball will I win the lottery?</p>
			</blockquote>
			<h3>Could return:</h3>
			<blockquote>
				<p>@ygtskedog -> It is certain.</p>
			</blockquote>
			<p><strong>Note:</strong> The default permission level for <code>!8ball</code> is set to everyone.</p>
			<h3>All Possible Outcomes</h3>
			<blockquote>
				<ul>
					<li>'Signs point to yes.'</li>
					<li>'Yes.'</li>
					<li>'Reply hazy</li>
					<li>try again.'</li>
					<li>'My sources say no.'</li>
					<li>'You may rely on it.'</li>
					<li>'Concentrate and ask again.'</li>
					<li>'Outlook not so good.'</li>
					<li>'It is decidedly so.'</li>
					<li>'Better not tell you now.'</li>
					<li>'Very doubtful.'</li>
					<li>'Yes - definitely.'</li>
					<li>'It is certain.'</li>
					<li>'Cannot predict now.'</li>
					<li>'Most likely.'</li>
					<li>'Ask again later.'</li>
					<li>'My reply is no.'</li>
					<li>'Outlook good.'</li>
					<li>'Don't count on it.'</li>
				</ul>
			</blockquote>
			<p><a href="/default-commands">Back to Default Commands</a></p>
		</div>
	</section>
</div>
<script>init();</script>