<div class="inner-content-wrapper">
	<section class="content">
		<h1><i class="fa fa-magic"></i> !bf4stats</h1>
		<div class="link-container">
			<p>The !bf4stats command returns a players rank, kill/death ratio, and a link to more stats. Platform options are pc, xbox, ps3, xone, and ps4.</p>
			<h3>Usage</h3>
			<blockquote>
				<p>!bf4stats playername platform</p>
			</blockquote>
			<h3>Example</h3>
			<blockquote>
				<p>!bf4stats twitchygtskedog pc</p>
			</blockquote>
			<h3>Would return:</h3>
			<blockquote>
				<p>@YgTSkedog -> TwitchYgTSkedog has played ~890 hours, has a 2.38 k/d, and is rank 140! More stats here: https://bf4stats.com/pc/TwitchYgTSkedog</p>
			</blockquote>
			<p><strong>Note:</strong> The default permission level for <code>!bf4stats</code> is set to everyone. If no platform is specified, it defaults to pc.</p>
			<p><a href="/default-commands">Back to Default Commands</a></p>
		</div>
	</section>
</div>
<script>init();</script>